<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Documentation/styles.css" />
    <link rel="stylesheet" href="image.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark-reasonable.min.css"
      integrity="sha512-RwXJS3k4Z0IK6TGoL3pgQlA9g2THFhKL7z9TYWdAI8u6xK0AUuMWieJuWgTRayywC9A94ifUj1RzjDa1NIlUIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="doc-head">
      <i class="fas fa-times close-side-nav"></i>
      <i class="fas fa-bars side-nav-options"></i>
      <div class="naming">
        <img
          src="../../Images/StickIcecream.svg"
          alt="icecream"
          class="head-IC"
        />
        <h1 class="cursive">Ice Cream UI</h1>
      </div>

      <nav class="page-links">
        <a class="underline link-head" href="/Documentation/index.html"
          >INSTALLATION</a
        >
        <a
          class="underline link-head"
          href="/Utilities/margin-paddings/margin-padding.html"
          >DOCS</a
        >
      </nav>

      <a href="" class="github-repo">
        <img src="../../Images/icons8-github.svg" alt="Github" class="head-IC"
      /></a>
    </header>
    <div class="content-area">
      <aside class="section-aside">
        <h2 class="section-head">Sections</h2>
        <ul class="side-nav">
          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>INSTALLATION
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/Documentation/index.html"
                    class="underline side-link"
                    >Installation</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i> UTILITIES
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/Utilities/margin-paddings/margin-padding.html"
                    class="underline side-link"
                    >Margin/Padding</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/texts/text-utils.html"
                    class="underline side-link"
                    >Text-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/colors-borders/colors-borders.html"
                    class="underline side-link"
                    >Colors/Borders</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/flex-utils/flex-utils.html"
                    class="underline side-link"
                    >Flex-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/Grid-utils/grid.html"
                    class="underline side-link"
                    >Grid-utils</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>COMPONENTS
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/components/Alerts/alert.html"
                    class="underline side-link"
                    >Alerts</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Avatar/Avatar.html"
                    class="underline side-link"
                    >Avatar</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Badges/badges.html"
                    class="underline side-link"
                    >Badges</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Buttons/buttons.html"
                    class="underline side-link"
                    >Buttons</a
                  >
                </li>
                <li>
                  <a
                    href="/components/cards/cards.html"
                    class="underline side-link"
                    >Cards</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Images/image.html"
                    class="underline side-link"
                    >Images</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Inputs/inputs.html"
                    class="underline side-link"
                    >Inputs</a
                  >
                </li>
                <li>
                  <a
                    href="/components/lists/list.html"
                    class="underline side-link"
                    >Lists</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Modal/modal.html"
                    class="underline side-link"
                    >Modals</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Navigation/navigation.html"
                    class="underline side-link"
                    >Navigations</a
                  >
                </li>
                <li>
                  <a
                    href="/components/ratings/ratings.html"
                    class="underline side-link"
                    >Ratings</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Slider/slider.html"
                    class="underline side-link"
                    >Slider</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Snackbar/snackbar.html"
                    class="underline side-link"
                    >Snackbar</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
      <main class="main-div">
        <h2>Responsive and round images.</h2>
        <div class="flex col-gap-1 flex-wrap jc-center">
          <div class="responsive-img-container">
            <img
              src="../../Images/pexels-oliver-sjöström-1047051.jpg"
              alt="responsive-img"
              class="res-img"
            />
          </div>
          <div class="round-img">
            <img
              src="../../Images/pexels-yan-miranda-4011770.jpg"
              alt="round-img"
              class="round-item"
            />
          </div>
        </div>
        <pre><code class="language-html">
        &lt;div class="responsive-img-container"&gt;
          &lt;img
            src="../../Images/pexels-oliver-sjöström-1047051.jpg"
            alt="responsive-img"
            class="res-img"
          /&gt;
        &lt;/div&gt;
        &lt;div class="round-img"&gt;
          &lt;img
            src="../../Images/pexels-yan-miranda-4011770.jpg"
            alt="round-img"
            class="round-item"
           /&gt;
        &lt;/div&gt;
        </code></pre>
      </main>
    </div>
    <footer class="foot">All rights reserved</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../Documentation/script.js"></script>
  </body>
</html>
