<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="badges.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark-reasonable.min.css"
      integrity="sha512-RwXJS3k4Z0IK6TGoL3pgQlA9g2THFhKL7z9TYWdAI8u6xK0AUuMWieJuWgTRayywC9A94ifUj1RzjDa1NIlUIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="doc-head">
      <i class="fas fa-bars"></i>
      <div class="naming">
        <img
          src="../../Images/StickIcecream.svg"
          alt="icecream"
          class="head-IC"
        />
        <h1 class="cursive">Ice Cream UI</h1>
      </div>

      <nav class="page-links">
        <a class="underline link-head" href="../../index.html">INSTALLATION</a>
        <a
          class="underline link-head"
          href="/Utilities/margin-paddings/margin-padding.html"
          >DOCS</a
        >
      </nav>

      <a href="" class="github-repo">
        <img src="../../Images/icons8-github.svg" alt="Github" class="head-IC"
      /></a>
    </header>
    <div class="content-area">
      <aside class="section-aside">
        <h2 class="section-head">Sections</h2>
        <ul class="side-nav">
          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>INSTALLATION
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a href="../../index.html" class="underline side-link"
                    >Installation</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i> UTILITIES
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/Utilities/margin-paddings/margin-padding.html"
                    class="underline side-link"
                    >Margin/Padding</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/texts/text-utils.html"
                    class="underline side-link"
                    >Text-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/colors-borders/colors-borders.html"
                    class="underline side-link"
                    >Colors/Borders</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/flex-utils/flex-utils.html"
                    class="underline side-link"
                    >Flex-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/Grid-utils/grid.html"
                    class="underline side-link"
                    >Grid-utils</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>COMPONENTS
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/components/Alerts/alert.html"
                    class="underline side-link"
                    >Alerts</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Avatar/Avatar.html"
                    class="underline side-link"
                    >Avatar</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Badges/badges.html"
                    class="underline side-link"
                    >Badges</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Buttons/buttons.html"
                    class="underline side-link"
                    >Buttons</a
                  >
                </li>
                <li>
                  <a
                    href="/components/cards/cards.html"
                    class="underline side-link"
                    >Cards</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Images/image.html"
                    class="underline side-link"
                    >Images</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Inputs/inputs.html"
                    class="underline side-link"
                    >Inputs</a
                  >
                </li>
                <li>
                  <a
                    href="/components/lists/list.html"
                    class="underline side-link"
                    >Lists</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Modal/modal.html"
                    class="underline side-link"
                    >Modals</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Navigation/navigation.html"
                    class="underline side-link"
                    >Navigations</a
                  >
                </li>
                <li>
                  <a
                    href="/components/ratings/ratings.html"
                    class="underline side-link"
                    >Ratings</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Slider/slider.html"
                    class="underline side-link"
                    >Slider</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Snackbar/snackbar.html"
                    class="underline side-link"
                    >Snackbar</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
      <main class="main-div">
        <h2>Badges</h2>
        <p>Display notifications with these badges.</p>
        <div
          class="flex flex-wrap flex-direct-col row-gap-1 pd-2-5 mgn-auto width-cw"
        >
          <div>
            <span class="txt-badge"> Text with a badge </span>
          </div>
          <div>
            <span class="txt-lrg-badge"> Text with a large badge </span>
          </div>
          <div>
            Button with a badge on the left
            <button class="btn-badge-act">Action</button>
          </div>
          <div>
            Button toggles badge visibility
            <button class="btn-badge-hide">Hide</button>
          </div>
          <div>
            Icon with a badge<i
              class="fas fa-home home-icon-badge badge-icon"
            ></i>
          </div>
        </div>
        <pre><code class="language-html">
        &lt;div&gt;
          &lt;span class="txt-badge"&gt;
           Text with a badge
          &lt;/span&gt;
        &lt;/div&gt;
        &lt;div&gt;
          &lt;span class="txt-lrg-badge"&gt;
            Text with a large badge
          &lt;/span&gt;
        &lt;/div&gt;
        &lt;div&gt;
          Button with a badge on the left
          &lt;button class="btn-badge-act"&gt;Action&lt;/button&gt;
        &lt;/div&gt;
        &lt;div&gt;
           Button toggles badge visibility
           &lt;button class="btn-badge-hide"&gt;Hide&lt;/button&gt;
        &lt;/div&gt;
        &lt;div&gt;
            Icon with a badge
            &lt;i class="fas fa-home home-icon-badge badge-icon"&gt;
            &lt;/i&gt;
        &lt;/div&gt;
        </code></pre>
        <h2 class="mgn-tp-2-5">Badges on icon</h2>
        <div class="flex flex-wrap jc-center col-gap-2 mgn-tp-4">
          <i class="fas fa-tshirt badge-on-t-shirt badge-icon"></i>
          <i class="fas fa-file-download badge-on-download badge-icon"></i>
          <i class="fas fa-drumstick-bite badge-icon non-veg-icon"></i>
          <i class="fas fa-carrot badge-icon veg-icon"></i>
        </div>
        <pre>
          <code class="language-html">
            &lt;i class="fas fa-tshirt badge-on-t-shirt badge-icon"&gt;&lt;/i&gt;
            &lt;i class="fas fa-file-download badge-on-download badge-icon"&gt;&lt;/i&gt;
            &lt;i class="fas fa-drumstick-bite badge-icon non-veg-icon"&gt;&lt;/i&gt;
            &lt;i class="fas fa-carrot badge-icon veg-icon"&gt;&lt;/i&gt;
          </code>
        </pre>
        <h2 class="mgn-tp-2-5">Badges on avatar</h2>
        <div class="flex flex-wrap jc-center col-gap-1">
          <div
            class="cropped cropped-wd-6 avatar-badge-container online-avatar-badge"
          >
            <img
              src="../../Images/pexels-masha-raymers-2726111.jpg"
              alt="profile-pic-girl"
              class="img-w-6 avatar-badge-img"
            />
          </div>
          <div
            class="cropped cropped-wd-6 avatar-badge-container offline-avatar-badge"
          >
            <img
              src="../../Images/pexels-adrienn-1542085.jpg"
              alt="profile-pic-girl"
              class="img-w-10 img-h-10 avatar-badge-img"
            />
          </div>
          <div
            class="cropped cropped-wd-6 avatar-badge-container disable-avatar-badge"
          >
            <img
              src="../../Images/pexels-tuấn-kiệt-jr-1382731.jpg"
              alt="profile-pic-girl"
              class="img-w-6 avatar-badge-img"
            />
          </div>
          <div class="cropped cropped-wd-6 avatar-number-badge-container">
            <img
              src="../../Images/pexels-慶文-施-11016347.jpg"
              alt="profile-pic-girl"
              class="img-w-6 avatar-number-badge-img"
            />
          </div>
        </div>
        <pre>
          <code class="language-html">
          &lt;div
            class="cropped 
            cropped-wd-6 
            avatar-badge-container 
            online-avatar-badge"
          &gt;
            &lt;img
              src="insert_img_here"
              alt=""
              class="img-w-6 avatar-badge-img"
            /&gt;
          &lt;/div&gt;
          &lt;div
            class="cropped 
            cropped-wd-6 
            avatar-badge-container 
            offline-avatar-badge"
          &gt;
            &lt;img
              src="insert_img_here"
              alt=""
              class="img-w-10 img-h-10 avatar-badge-img"
            /&gt;
          &lt;/div&gt;
          &lt;div
            class="cropped 
            cropped-wd-6 
            avatar-badge-container 
            disable-avatar-badge"
          &gt;
            &lt;img
              src="insert_img_here"
              alt=""
              class="img-w-6 avatar-badge-img"
            /&gt;
          &lt;/div&gt;
          &lt;div 
              class="cropped 
              cropped-wd-6 
              avatar-number-badge-container"&gt;
            &lt;img
              src="insert_img_here"
              alt=""
              class="img-w-6 avatar-number-badge-img"
            /&gt;
          &lt;/div&gt;
          </code>
        </pre>
      </main>
    </div>
    <footer class="foot">All rights reserved</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../script.js"></script>
  </body>
</html>
