@import url("../../Utilities/utilities.css");
@import url("../Avatar/avatar.css");

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.txt-badge {
  position: relative;
}
.txt-badge::after {
  content: "4";
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  background-color: var(--blue1000);
  padding: 0em 0.3em;
  border-radius: 999rem;
  font-size: 1.5rem;
  color: var(--white);
}

.txt-lrg-badge {
  position: relative;
}
.txt-lrg-badge::after {
  content: "1";
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  background-color: var(--blue1000);
  padding: 0.3em 0.6em;
  border-radius: 999rem;
  font-size: 1.5rem;
  color: var(--white);
}

.btn-badge-act {
  padding: 0.6rem 0.5rem;
  background-color: var(--blue1000);
  border: 1px solid var(--blue1000);
  color: var(--white);
  border-radius: 0.15em;
  font-size: 1.5rem;
  position: relative;
}

.btn-badge-act::before {
  content: "8";
  position: absolute;
  top: -1.3rem;
  left: -1.3rem;
  background-color: rgb(230, 68, 95);
  padding: 0.2em 0.5em;
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--white);
}

.btn-badge-hide {
  padding: 0.2em;
  border-radius: 3px;
  border: 2px solid var(--white);
  box-shadow: 3px 2px 5px 2px rgb(180, 96, 96);
  position: relative;
  font-size: 1.3rem;
  font-weight: 100;
}

.btn-badge-hide::after {
  content: "7";
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: var(--blue1000);
  padding: 0.1em 0.4em;
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--white);
}

.home-icon-badge::after {
  content: "15";
  position: absolute;
  top: -0.8rem;
  right: -0.5rem;
  background-color: var(--blue1000);
  padding: 0.4em;
  border-radius: 999rem;
  font-size: 1rem;
  color: var(--white);
}

.badge-icon {
  font-size: 2.5rem;
  position: relative;
}

.badge-on-t-shirt::after {
  content: "sale";
  position: absolute;
  left: -1rem;
  top: -0.7rem;
  font-size: 1.3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  background-color: var(--pure-yellow);
  padding: 0.1rem 0.1rem;
  transform: rotate(-35deg);
}

.badge-on-download::after {
  position: absolute;
  top: -1rem;
  right: -0.8rem;
  content: "2";
  color: var(--grey300);
  font-size: 1.3rem;
  padding: 0.3em 0.5em;
  background-color: var(--blue-icon-alert);
  border-radius: 999rem;
}

.non-veg-icon {
  position: relative;
}
.non-veg-icon::after {
  position: absolute;
  top: -1rem;
  right: -0.8rem;
  content: "•";
  color: var(--pure-red);
  font-size: 2.3rem;
  height: 0.7em;
  display: flex;
  align-items: center;
  padding: 0em 0.05em 0.1em;
  background-color: var(--white);
  border: 4px solid var(--pure-red);
}

.veg-icon::after {
  position: absolute;
  top: -1rem;
  right: -0.8rem;
  content: "•";
  color: var(--pure-green);
  font-size: 2.3rem;
  height: 0.7em;
  display: flex;
  align-items: center;
  padding: 0em 0.05em 0.1em;
  background-color: var(--white);
  border: 4px solid var(--pure-green);
}

.avatar-badge-img {
  border-radius: 999rem;
  height: 100%;
  width: 100%;
}
.avatar-badge-container {
  position: relative;
  overflow: visible;
  width: 5rem;
  height: 5rem;
}
.avatar-badge-container::before {
  position: absolute;
  content: "";
  bottom: -0.1rem;
  right: -0.1rem;
  border-radius: 999rem;
  padding: 0.5rem 0.5rem;
  border: 5px solid var(--tertiary);

  z-index: 2;
}

.online-avatar-badge:before {
  background-color: var(--blue500);
}

.online-avatar-badge:before {
  background-color: var(--pure-green);
}

.offline-avatar-badge::before {
  background-color: var(--pure-red);
}

.disable-avatar-badge::before {
  background-color: var(--grey500);
}

.avatar-number-badge-img {
  border-radius: 999rem;
  width: 100%;
  height: 100%;
}
.avatar-number-badge-container {
  position: relative;
  overflow: visible;
  width: 5rem;
  height: 5rem;
}
.avatar-number-badge-container::after {
  content: "3";
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
  background-color: var(--pure-red);
  padding: 0.3em 0.6em;
  border-radius: 999rem;
  font-size: 1rem;
  color: var(--white);
}
