<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="buttons.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark-reasonable.min.css"
      integrity="sha512-RwXJS3k4Z0IK6TGoL3pgQlA9g2THFhKL7z9TYWdAI8u6xK0AUuMWieJuWgTRayywC9A94ifUj1RzjDa1NIlUIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>BUTTONS</title>
  </head>
  <body>
    <header class="doc-head">
      <i class="fas fa-times close-side-nav"></i>
      <i class="fas fa-bars side-nav-options"></i>
      <div class="naming">
        <img
          src="../../Images/StickIcecream.svg"
          alt="icecream"
          class="head-IC"
        />
        <h1 class="cursive">Ice Cream UI</h1>
      </div>

      <nav class="page-links">
        <a class="underline link-head" href="../../index.html">INSTALLATION</a>
        <a
          class="underline link-head"
          href="/Utilities/margin-paddings/margin-padding.html"
          >DOCS</a
        >
      </nav>

      <a href="https://github.com/psychoactiv" class="github-repo">
        <img src="../../Images/icons8-github.svg" alt="Github" class="head-IC"
      /></a>
    </header>
    <div class="content-area">
      <aside class="section-aside">
        <h2 class="section-head">Sections</h2>
        <ul class="side-nav">
          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>INSTALLATION
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a href="../../index.html" class="underline side-link"
                    >Installation</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i> UTILITIES
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/Utilities/margin-paddings/margin-padding.html"
                    class="underline side-link"
                    >Margin/Padding</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/texts/text-utils.html"
                    class="underline side-link"
                    >Text-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/colors-borders/colors-borders.html"
                    class="underline side-link"
                    >Colors/Borders</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/flex-utils/flex-utils.html"
                    class="underline side-link"
                    >Flex-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/Grid-utils/grid.html"
                    class="underline side-link"
                    >Grid-utils</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>COMPONENTS
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/components/Alerts/alert.html"
                    class="underline side-link"
                    >Alerts</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Avatar/Avatar.html"
                    class="underline side-link"
                    >Avatar</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Badges/badges.html"
                    class="underline side-link"
                    >Badges</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Buttons/buttons.html"
                    class="underline side-link"
                    >Buttons</a
                  >
                </li>
                <li>
                  <a
                    href="/components/cards/cards.html"
                    class="underline side-link"
                    >Cards</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Images/image.html"
                    class="underline side-link"
                    >Images</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Inputs/inputs.html"
                    class="underline side-link"
                    >Inputs</a
                  >
                </li>
                <li>
                  <a
                    href="/components/lists/list.html"
                    class="underline side-link"
                    >Lists</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Modal/modal.html"
                    class="underline side-link"
                    >Modals</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Navigation/navigation.html"
                    class="underline side-link"
                    >Navigations</a
                  >
                </li>
                <li>
                  <a
                    href="/components/ratings/ratings.html"
                    class="underline side-link"
                    >Ratings</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Slider/slider.html"
                    class="underline side-link"
                    >Slider</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Snackbar/snackbar.html"
                    class="underline side-link"
                    >Snackbar</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
      <main class="main-div">
        <h2>BUTTONS</h2>
        <button class="sticky-btn-display">
          <i class="fas fa-times"></i>
        </button>
        <div class="flex flex-wrap col-gap-1 row-gap-1 contain">
          <button class="all-btn-el primary-btn">Primary button</button>
          <button class="all-btn-el secondary-btn">Secondary button</button>
          <button class="all-btn-el danger-btn">Danger button</button>
          <button class="all-btn-el success-btn">Success button</button>
          <button class="all-btn-el warning-btn">Warning button</button>
          <button class="all-btn-el btn-with-icon-text">
            <i class="fas fa-cog"></i> Settings
          </button>
          <button class="all-btn-el btn-with-icon">
            <i class="fas fa-power-off"></i>
          </button>
          <button class="all-btn-el add-to-cart">
            <i class="fas fa-shopping-cart"></i> ADD TO CART
          </button>
          <button class="all-btn-el link-btn">LINK</button>
          <button class="all-btn-el link-btn">REDIRECT</button>
          <button class="all-btn-el floating-action-btn">
            Show Floating Action Button
          </button>

          <button class="all-btn-el primary-btn big-btn">Primary big</button>
          <button class="all-btn-el secondary-btn big-btn">
            Secondary big
          </button>
          <button class="all-btn-el Animated-btn big-btn">3D button</button>
        </div>
        <p class="mgn-tp-2">
          Note:- Big buttons take full width of the container.
        </p>


        <p class="mgn-tp-2">This component uses Javascript add this script tag above your closing body tag</p>
        <pre>
          <code class="language-html">
            &lt;script src="https://ice-cream-ui.netlify.app/components/buttons/buttons.js"&gt;&lt;/script&gt;
          </code>
        </pre>
        <pre>
          <code class="language-html">
        &lt;button class="sticky-btn-display"&gt;
          &lt;i class="fas fa-times"&gt;&lt;/i&gt;
        &lt;/button&gt;
        &lt;div class="flex flex-wrap col-gap-1 row-gap-1 contain"&gt;
          &lt;button class="all-btn-el primary-btn"&gt;Primary button&lt;/button&gt;
          &lt;button class="all-btn-el secondary-btn"&gt;Secondary button&lt;/button&gt;
          &lt;button class="all-btn-el danger-btn"&gt;Danger button&lt;/button&gt;
          &lt;button class="all-btn-el success-btn"&gt;Success button&lt;/button&gt;
          &lt;button class="all-btn-el warning-btn"&gt;Warning button&lt;/button&gt;
          &lt;button class="all-btn-el btn-with-icon-text"&gt;
            &lt;i class="fas fa-cog"&gt;&lt;/i&gt; Settings
          &lt;/button&gt;
          &lt;button class="all-btn-el btn-with-icon"&gt;
            &lt;i class="fas fa-power-off"&gt;&lt;/i&gt;
          &lt;/button&gt;
          &lt;button class="all-btn-el add-to-cart"&gt;
            &lt;i class="fas fa-shopping-cart"&gt;&lt;/i&gt; ADD TO CART
          &lt;/button&gt;
          &lt;button class="all-btn-el link-btn"&gt;LINK&lt;/button&gt;
          &lt;button class="all-btn-el link-btn"&gt;REDIRECT&lt;/button&gt;
          &lt;button class="all-btn-el floating-action-btn"&gt;
            Show Floating Action Button
          &lt;/button&gt;

          &lt;button class="all-btn-el primary-btn big-btn"&gt;Primary big&lt;/button&gt;
          &lt;button class="all-btn-el secondary-btn big-btn"&gt;
            Secondary big
          &lt;/button&gt;
          &lt;button class="all-btn-el Animated-btn big-btn"&gt;3D button&lt;/button&gt;
          </code>
        </pre>
      </main>
    </div>
    <footer class="foot">All rights reserved</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="buttons.js"></script>
    <script src="../../script.js"></script>
  </body>
</html>
