<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="drawer.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>
    <title>Sidebar</title>
  </head>
  <body>
    <div class="drawer-whole">
      <header class="drawer-head-section">
        <button class="side-bar-ico"><i class="fas fa-bars"></i></button>

        This is a Header.
        <nav class="drawer-nav-redirects">
          <a href="/">Home</a>
          <a href="/">about</a>
          <a href="/">contacts</a>
        </nav>
      </header>
    </div>
    <aside class="drawer-sidebar">
      <div class="drawer-user-info">
        <div class="drawer-top-side">
          <h3>Mail</h3>
          <i class="fas fa-times close-this-side-bar"></i>
        </div>
        <p>MeetMe@NextWorld.jmail.com</p>
      </div>
      <div class="drawer-content">
        <p class="drawer-line">Generals</p>
        <ul class="drawer-items general">
          <li><i class="fas fa-inbox"></i></li>
          <li>Inbox</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>

        <ul class="drawer-items general">
          <li><i class="fas fa-star"></i></li>
          <li>star</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>

        <ul class="drawer-items general">
          <li>
            <i class="fas fa-paper-plane"></i>
          </li>
          <li>Sent&nbsp;Mail</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>

        <ul class="drawer-items general">
          <li><i class="fas fa-envelope-open"></i></li>
          <li>Drafts</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>

        <p class="drawer-line">Labels</p>
        <ul class="drawer-items labels">
          <li><i class="far fa-bookmark"></i></li>
          <li>Family</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>
        <ul class="drawer-items labels">
          <li><i class="far fa-bookmark"></i></li>
          <li>Friends</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>
        <ul class="drawer-items labels">
          <li><i class="far fa-bookmark"></i></li>
          <li>Work</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>

        <p class="drawer-line">Spams</p>
        <ul class="drawer-items danger">
          <li><i class="fas fa-exclamation"></i></li>
          <li>Possible&nbsp;Spams</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>
        <ul class="drawer-items danger">
          <li><i class="fas fa-exclamation"></i></li>
          <li>Reported&nbsp;Spams</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>
        <ul class="drawer-items danger">
          <li><i class="fas fa-exclamation"></i></li>
          <li>Blocked&nbsp;list</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>

        <p class="drawer-line">Notifications</p>
        <ul class="drawer-items notifications">
          <li><i class="fas fa-bell"></i></li>
          <li>Alerts</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>
        <ul class="drawer-items danger">
          <li><i class="fas fa-bell-slash"></i></li>
          <li>Blocked&nbsp;Alerts</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>

        <p class="drawer-line">Settings</p>
        <ul class="drawer-items settings">
          <li><i class="far fa-id-badge"></i></li>
          <li>Profile&nbsp;Settings</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>

        <ul class="drawer-items danger">
          <li><i class="fas fa-trash-alt"></i></li>
          <li>Trash</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>
        <ul class="drawer-items danger">
          <li><i class="fas fa-user-slash"></i></li>
          <li>Delete&nbsp;Profile</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>
        <ul class="drawer-items settings">
          <li><i class="fas fa-cog"></i></li>
          <li>More&nbsp;Settings</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>

        <p class="drawer-line"></p>
        <ul class="drawer-items feedbacks">
          <li><i class="far fa-comment-alt"></i></li>
          <li>Feedbacks</li>
          <li><i class="fas fa-ellipsis-v"></i></li>
        </ul>
      </div>
    </aside>
    <div class="drawer-whole">
      <div class="drawer-main">
        <h1>Body content</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          nihil dicta cupiditate necessitatibus consequuntur deserunt iusto
          provident cumque fuga, autem sint temporibus veniam! Hic qui eaque
          maxime enim fuga alias? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Omnis similique itaque atque eveniet sint
          accusantium accusamus provident dolorem assumenda, aspernatur
          architecto voluptatem, numquam qui debitis dolor iusto maiores in at!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
          totam illum laborum inventore dolore quisquam labore soluta
          necessitatibus sequi voluptatum explicabo ipsam facilis perferendis?
          Voluptate quibusdam similique reprehenderit! Doloremque, suscipit?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          nihil dicta cupiditate necessitatibus consequuntur deserunt iusto
          provident cumque fuga, autem sint temporibus veniam! Hic qui eaque
          maxime enim fuga alias? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Omnis similique itaque atque eveniet sint
          accusantium accusamus provident dolorem assumenda, aspernatur
          architecto voluptatem, numquam qui debitis dolor iusto maiores in at!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
          totam illum laborum inventore dolore quisquam labore soluta
          necessitatibus sequi voluptatum explicabo ipsam facilis perferendis?
          Voluptate quibusdam similique reprehenderit! Doloremque, suscipit?
        </p>
      </div>
    </div>
    <script src="drawer.js"></script>
  </body>
</html>
