<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Documentation/styles.css" />
    <link rel="stylesheet" href="avatar.css" />
    <link rel="stylesheet" href="../../Utilities/utilities.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark-reasonable.min.css"
      integrity="sha512-RwXJS3k4Z0IK6TGoL3pgQlA9g2THFhKL7z9TYWdAI8u6xK0AUuMWieJuWgTRayywC9A94ifUj1RzjDa1NIlUIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="doc-head">
      <i class="fas fa-bars"></i>
      <div class="naming">
        <img
          src="../../Images/StickIcecream.svg"
          alt="icecream"
          class="head-IC"
        />
        <h1 class="cursive">Ice Cream UI</h1>
      </div>

      <nav class="page-links">
        <a class="underline link-head" href="/Documentation/index.html">INSTALLATION</a>
        <a class="underline link-head" href="/Utilities/margin-paddings/margin-padding.html">DOCS</a>
      </nav>

      <a href="" class="github-repo">
        <img src="../../Images/icons8-github.svg" alt="Github" class="head-IC"
      /></a>
    </header>
    <div class="content-area">
      <aside class="section-aside">
        <h2 class="section-head">Sections</h2>
        <ul class="side-nav">
          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>INSTALLATION
            </button>
            <div class="collapse">
              <ul>
                <li><a href="/Documentation/index.html" class="underline side-link">Installation</a></li>
                
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i> UTILITIES
            </button>
            <div class="collapse">
              <ul>

                <li><a href="/Utilities/margin-paddings/margin-padding.html" class="underline side-link">Margin/Padding</a></li>
                <li><a href="/Utilities/texts/text-utils.html" class="underline side-link">Text-utils</a></li>
                <li><a href="/Utilities/colors-borders/colors-borders.html" class="underline side-link">Colors/Borders</a></li>
                <li><a href="/Utilities/flex-utils/flex-utils.html" class="underline side-link">Flex-utils</a></li>
                <li><a href="/Utilities/Grid-utils/grid.html" class="underline side-link">Grid-utils</a></li>
                
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>COMPONENTS
            </button>
            <div class="collapse">
              <ul>
                <li><a href="/components/Alerts/alert.html" class="underline side-link">Alerts</a></li>
                <li><a href="/components/Avatar/Avatar.html" class="underline side-link">Avatar</a></li>
                <li><a href="/components/Badges/badges.html" class="underline side-link">Badges</a></li>
                <li><a href="/components/Buttons/buttons.html" class="underline side-link">Buttons</a></li>
                <li><a href="/components/cards/cards.html" class="underline side-link">Cards</a></li>
                <li><a href="/components/Images/image.html" class="underline side-link">Images</a></li>
                <li><a href="/components/Inputs/inputs.html" class="underline side-link">Inputs</a></li>
                <li><a href="/components/lists/list.html" class="underline side-link">Lists</a></li>
                <li><a href="/components/Modal/modal.html" class="underline side-link">Modals</a></li>
                <li><a href="/components/Navigation/navigation.html" class="underline side-link">Navigations</a></li>
                <li><a href="/components/ratings/ratings.html" class="underline side-link">Ratings</a></li>
                <li><a href="/components/Slider/slider.html" class="underline side-link">Slider</a></li>
                <li><a href="/components/Snackbar/snackbar.html" class="underline side-link">Snackbar</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
      <main class="main-div">
        <h2>Avtars</h2>
        <p>Start using these reusable avtars in your projects!</p>
        <p class="mgn-tp-1-5">
          You can use img-tp-2 (top), img-btm-2(bottom), img-rt-2(right)
          img-lt-2(left) to the img element for aligning images, numbers in those classes represent rem. you can give
          values of 2, 4 and 6 rem
        </p>
        <p class="mgn-tp-1-5">Container width and heights are same thus only one class for those img height and width classes are as follows img-h-6  img-w-8  the number in it defines rem. you can give
        values of 2, 4 and 6 rem</p>
        
        <table class="pd-0-5 mgn-tp-1-5">
          <tr class="pd-2"><th class="pd-0-5 dark-1-bdr800">Img-conatiner height/width</th class=pd-0-5><th class="pd-0-5 dark-1-bdr800">Img width</th> <th class="pd-0-5 dark-1-bdr800">Img height</th><th class="pd-0-5 dark-1-bdr800">move-top</th><th class="pd-0-5 dark-1-bdr800">move-bottom</th><th class="pd-0-5 dark-1-bdr800">move-right</th><th class="pd-0-5 dark-1-bdr800">move-left</th></tr>
          
          <tr><td class="dark-1-bdr800 pd-0-5">cropped cropped-wd-8</td> <td class="dark-1-bdr800 pd-0-5">img-w-4</td> <td class="dark-1-bdr800 pd-0-5">img-h-4</td> <td class="dark-1-bdr800 pd-0-5">img-tp-4</td> <td class="dark-1-bdr800 pd-0-5">img-btm-2</td> <td class="dark-1-bdr800 pd-0-5">img-rt-2</td> <td class="dark-1-bdr800 pd-0-5">img-lt-2</td></tr>
        </table>
        <div class="flex col-gap-1 mgn-tp-2 jc-center">
          <div class="cropped cropped-wd-8">
            <img
              src="../../Images/pexels-matheus-bertelli-3764119.jpg"
              alt="profile-pic-girl"
              class="img-w-8"
            />
          </div>
          <div class="cropped cropped-wd-8">
            <img
              src="../../Images/pexels-juanico-2589653.jpg"
              alt="profile-pic-boy"
              class="img-w-8"
            />
          </div>
          <div class="cropped cropped-wd-8">
            <img
              src="../../Images/pexels-cottonbro-4769490.jpg"
              alt="profile-pic-girl"
              class="img-w-8 img-tp-2"
            />
          </div>
          <div class="cropped cropped-wd-8">
            <img
              src="../../Images/pexels-joão-jesus-1080213.jpg"
              alt="profile-pic-man"
              class="img-w-8 img-tp-4"
            />
          </div>
        </div>
        <pre><code class="language-html">
        &lt;div&gt; class="cropped cropped-wd-8"&gt;
          &lt;img
            src="insert_img_url_here"
            alt=""
            class="img-w-8"
          /&gt;
        &lt;/div&gt;
        &lt;div&gt; class="cropped cropped-wd-8"&gt;
          &lt;img
            src="insert_img_url_here"
            alt=""
            class="img-w-8"
          /&gt;
        &lt;/div&gt;
        &lt;div&gt; class="cropped cropped-wd-8"&gt;
          &lt;img
            src="insert_img_url_here"
            alt=""
            class="img-w-8 img-tp-2"
          /&gt;
        &lt;/div&gt;
        &lt;div&gt; class="cropped cropped-wd-8"&gt;
          &lt;img
            src="insert_img_url_here"
            alt=""
            class="img-w-8 img-tp-4"
          /&gt;
        &lt;/div&gt;
        </code></pre>
        <h3 class="mgn-tp-4">Avtars with different sizes</h3>
        <div class="flex jc-sa mgn-tp-2 align-i-end">
          <div class="cropped cropped-wd-4">
            <img 
              src="../../Images/pexels-mati-mango-5952651.jpg"
              class="img-w-4 img-h-4"
              alt="man_with_1s_&_0s"
            />
          </div>
          <div class="cropped cropped-wd-6">
            <img
              src="../../Images/pexels-sindre-strøm-1040880.jpg"
              alt="profile-pic-man"
              class="img-w-6"
            />
          </div>
          <div class="cropped cropped-wd-8">
            <img
              src="../../Images/pexels-rio-kuncoro-2773977.jpg"
              alt="profile-pic-women"
              class="img-w-8"
            />
          </div>
          <div class="cropped cropped-wd-10">
            <img
              src="../../Images/pexels-vickie-gionet-10969773.jpg"
              alt="profile-pic-man"
              class="img-w-10 img-tp-2"
            />
          </div>
          </div>
          <pre><code class="language-html">
          &lt;div class="cropped cropped-wd-4"&gt;
            &lt;img 
              src="insert_img_url_here"
              alt=""
              class="img-w-4 img-h-4"
            /&gt;
          &lt;/div&gt;
          &lt;div class="cropped cropped-wd-6"&gt;
            &lt;img
              src="insert_img_url_here"
              alt=""
              class="img-w-6"
            /&gt;
          &lt;/div&gt;
          &lt;div class="cropped cropped-wd-8"&gt;
            &lt;img
              src="insert_img_url_here"
              alt="profile-pic-man"
              class="img-w-8"
            /&gt;
          &lt;/div&gt;
          &lt;div class="cropped cropped-wd-10"&gt;
            &lt;img
              src="insert_img_url_here"
              alt=""
              class="img-w-10 img-tp-2"
            /&gt;
          &lt;/div&gt;
          </code></pre>
          <h3 class="mgn-tp-4">Avatars with borders</h3>
           <div class="flex jc-center col-gap-1 mgn-tp-2-5">
            <div class="cropped cropped-wd-8 grey-5-bdr300">
              <img
                src="../../Images//pexels-pixabay-415829.jpg"
                alt="profile-pic-women"
                class="img-w-8"
              />
            </div>
            <div class="cropped cropped-wd-8 violet-5-bdr400">
              <img
                src="../../Images/pexels-august-de-richelieu-8366756.jpg"
                alt="profile-pic-man"
                class="img-w-8"
              />
            </div>
            <div class="cropped cropped-wd-8 dark-5-bdr800">
              <img
                src="../../Images/pexels-chloe-1043471.jpg"
                alt="profile-pic-man"
                class="img-w-8"
              />
            </div>
            <div class="cropped cropped-wd-8 light-blue-5-bdr300">
              <img
                src="../../Images/pexels-andrea-piacquadio-3763188.jpg"
                alt="profile-pic-women"
                class=" img-w-10 img-h-8 img-lt-2 "
              />
            </div>
           </div>
           <pre><code class="language-html">
          &lt;div class="cropped cropped-wd-8 grey-5-bdr300"&gt;
            &lt;img
              src="insert_img_here"
              alt=""
              class="img-w-8"
            /&gt;
          &lt;/div&gt;
          &lt;div class="cropped cropped-wd-8 violet-5-bdr400"&gt;
            &lt;img
              src="insert_img_here"
              alt=""
              class="img-w-8"
            /&gt;
          &lt;/div&gt;
          &lt;div class="cropped cropped-wd-8 dark-5-bdr800"&gt;
            &lt;img
              src="insert_img_here"
              alt=""
              class="img-w-8"
            /&gt;
          &lt;/div&gt;
          &lt;div class="cropped cropped-wd-8 light-blue-5-bdr300"&gt;
            &lt;img
              src="insert_img_here"
              alt=""
              class=" img-w-10 img-h-8 img-lt-2 "
            /&gt;
          &lt;/div&gt;
           </code></pre>
      </main>
    </div>
    <footer class="foot">All rights reserved</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../Documentation/script.js"></script>
  </body>
</html>
