<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Documentation/styles.css" />
    <link rel="stylesheet" href="cards.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark-reasonable.min.css"
      integrity="sha512-RwXJS3k4Z0IK6TGoL3pgQlA9g2THFhKL7z9TYWdAI8u6xK0AUuMWieJuWgTRayywC9A94ifUj1RzjDa1NIlUIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="doc-head">
      <i class="fas fa-bars"></i>
      <div class="naming">
        <img
          src="../../Images/StickIcecream.svg"
          alt="icecream"
          class="head-IC"
        />
        <h1 class="cursive">Ice Cream UI</h1>
      </div>

      <nav class="page-links">
        <a class="underline link-head" href="/Documentation/index.html">INSTALLATION</a>
        <a class="underline link-head" href="/Utilities/margin-paddings/margin-padding.html">DOCS</a>
      </nav>

      <a href="" class="github-repo">
        <img src="../../Images/icons8-github.svg" alt="Github" class="head-IC"
      /></a>
    </header>
    <div class="content-area">
      <aside class="section-aside">
        <h2 class="section-head">Sections</h2>
        <ul class="side-nav">
          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>INSTALLATION
            </button>
            <div class="collapse">
              <ul>
                <li><a href="/Documentation/index.html" class="underline side-link">Installation</a></li>
                
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i> UTILITIES
            </button>
            <div class="collapse">
              <ul>

                <li><a href="/Utilities/margin-paddings/margin-padding.html" class="underline side-link">Margin/Padding</a></li>
                <li><a href="/Utilities/texts/text-utils.html" class="underline side-link">Text-utils</a></li>
                <li><a href="/Utilities/colors-borders/colors-borders.html" class="underline side-link">Colors/Borders</a></li>
                <li><a href="/Utilities/flex-utils/flex-utils.html" class="underline side-link">Flex-utils</a></li>
                <li><a href="/Utilities/Grid-utils/grid.html" class="underline side-link">Grid-utils</a></li>
                
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>COMPONENTS
            </button>
            <div class="collapse">
              <ul>
                <li><a href="/components/Alerts/alert.html" class="underline side-link">Alerts</a></li>
                <li><a href="/components/Avatar/Avatar.html" class="underline side-link">Avatar</a></li>
                <li><a href="/components/Badges/badges.html" class="underline side-link">Badges</a></li>
                <li><a href="/components/Buttons/buttons.html" class="underline side-link">Buttons</a></li>
                <li><a href="/components/cards/cards.html" class="underline side-link">Cards</a></li>
                <li><a href="/components/Images/image.html" class="underline side-link">Images</a></li>
                <li><a href="/components/Inputs/inputs.html" class="underline side-link">Inputs</a></li>
                <li><a href="/components/lists/list.html" class="underline side-link">Lists</a></li>
                <li><a href="/components/Modal/modal.html" class="underline side-link">Modals</a></li>
                <li><a href="/components/Navigation/navigation.html" class="underline side-link">Navigations</a></li>
                <li><a href="/components/ratings/ratings.html" class="underline side-link">Ratings</a></li>
                <li><a href="/components/Slider/slider.html" class="underline side-link">Slider</a></li>
                <li><a href="/components/Snackbar/snackbar.html" class="underline side-link">Snackbar</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
      <main class="main-div">
        <h2>Cards</h2>
        <div class="cards-container">
          <div class="each-card-conatainer">
            <h3 class="card-description">Card with header on top</h3>
            <div class="cards-common-structure cards-common-layout">
              <img
                src="../../Images/pexels-pixabay-163036.jpg"
                alt="Mario"
                class="basic-img"
              />
              <div class="head-top">
                <h3>Play Super Mario</h3>
                <p class="grey-text">-by Shigeru Miyamoto</p>
              </div>
              <p class="grey-text description">
                Super Mario is a platform game series created by Nintendo based
                on and starring the fictional plumber Mario. Alternatively
                called the Super Mario Bros.
              </p>
              <div class="btn-ico-hor">
                <button class="btn-hor-read btn-hor">Add TO CART</button>
                <button class="btn-hor-bookmark btn-hor">PLAY NOW</button>
                <i class="far fa-heart hor-ico"></i>
                <i class="fas fa-share hor-ico"></i>
                <i class="fas fa-ellipsis-v hor-ico"></i>
              </div>
            </div>
          </div>

          <div class="each-card-conatainer">
            <h3 class="card-description">Vertical card</h3>
            <div class="cards-common-structure cards-common-layout">
              <img
                src="../../Images/pexels-pixabay-163036.jpg"
                alt="Mario"
                class="basic-img-cards"
              />
              <div>
                <h3>Play Super Mario</h3>
                <p class="grey-text">-by Shigeru Miyamoto</p>
              </div>
              <p class="grey-text description">
                Super Mario is a platform game series created by Nintendo based
                on and starring the fictional plumber Mario. Alternatively
                called the Super Mario Bros.
              </p>
              <div class="btn-ico-hor">
                <button class="btn-hor-read btn-hor">Add TO CART</button>
                <button class="btn-hor-bookmark btn-hor">PLAY NOW</button>
                <i class="far fa-heart hor-ico"></i>
                <i class="fas fa-share hor-ico"></i>
                <i class="fas fa-ellipsis-v hor-ico"></i>
              </div>
            </div>
          </div>

          <div class="each-card-conatainer">
            <h3 class="card-description">Card with text overlay</h3>
            <div
              class="cards-common-structure cards-common-layout manage-card-height"
            >
              <div class="overlay-container">
                <img
                  src="../../Images/pexels-pixabay-163036.jpg"
                  alt="Mario"
                  class="basic-img-cards"
                />
                <div class="overlay">
                  <h3>Play Super Mario</h3>
                  <p>-by Shigeru Miyamoto</p>
                </div>
              </div>
              <p class="grey-text description">
                Super Mario is a platform game series created by Nintendo based
                on and starring the fictional plumber Mario. Alternatively
                called the Super Mario Bros.
              </p>

              <div class="btn-ico-hor">
                <button class="btn-hor-read btn-hor"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn-hor-bookmark btn-hor"><i class="fas fa-gamepad"></i></button>
                <i class="far fa-heart hor-ico"></i>
                <i class="fas fa-share hor-ico"></i>
                <i class="fas fa-ellipsis-v hor-ico"></i>
              </div>
            </div>
          </div>

          <div class="each-card-conatainer">
            <h3 class="card-description">Horizontal card</h3>
            <div class="horizontal-card cards-common-layout">
              <div class="inner-flex">
                <img
                  src="../../Images/Mario copy.jpg"
                  alt="Mario"
                  class="hor-img"
                />
                <div>
                  <h3>Play Super Mario</h3>
                  <p class="grey-text">-by Shigeru Miyamoto</p>
                </div>
              </div>
              <div class="btn-ico-hor">
                <button class="btn-hor-read btn-hor">Add TO CART</button>
                <button class="btn-hor-bookmark btn-hor">PLAY NOW</button>
                <i class="far fa-heart hor-ico"></i>
                <i class="fas fa-share hor-ico"></i>
                <i class="fas fa-ellipsis-v hor-ico"></i>
              </div>
            </div>
          </div>

          <div class="each-card-conatainer">
            <h3 class="card-description">Card with total text overlay</h3>
            <div
              class="total-overlay"
            >
              <div class="overlay-container">
                <img
                  src="../../Images/pexels-pixabay-163036.jpg"
                  alt="Mario"
                  class="basic-img-cards"
                />
                <div class="overlay">
                  <h3>Play Super Mario</h3>
                  <p>-by Shigeru Miyamoto</p>
                </div>
                <div class="card-overlay-content">
                  Super Mario is a platform game series created by Nintendo based
                  on and starring the fictional plumber Mario. Alternatively
                  called the Super Mario Bros.
                </div>
              </div>
              </div>
            </div>

            <div class="each-card-conatainer">
              <h3 class="card-description">Text only card</h3>
              <div class="cards-common-structure cards-common-layout manage-card-height text-only-card">
                <div class="head-top">
                  <h3>Play Super Mario</h3>
                  <p class="grey-text">-by Shigeru Miyamoto</p>
                </div>
                <p class="grey-text description">
                  Super Mario is a platform game series created by Nintendo based
                  on and starring the fictional plumber Mario. Alternatively
                  called the Super Mario Bros.
                </p>
                <div class="btn-ico-hor">
                  <button class="btn-hor-read btn-hor"><i class="fas fa-shopping-cart"></i></button>
                  <button class="btn-hor-bookmark btn-hor"><i class="fas fa-gamepad"></i></button>
                  <i class="far fa-heart hor-ico"></i>
                  <i class="fas fa-share hor-ico"></i>
                  <i class="fas fa-ellipsis-v hor-ico"></i>
                </div>
              </div>
            </div>
              
            <div class="each-card-conatainer dismiss-card">
              <h3 class="card-description">Card with dismiss.</h3>
              <div
                class="total-overlay"
              >
                <div class="overlay-container">
                  <img
                    src="../../Images/pexels-pixabay-163036.jpg"
                    alt="Mario"
                    class="basic-img-cards"
                  />
                  <div class="overlay">
                    <h3>Play Super Mario</h3>
                    <p>-by Shigeru Miyamoto</p>
                  </div>
                  <div class="card-overlay-content">
                    Super Mario is a platform game series created by Nintendo based
                    on and starring the fictional plumber Mario. Alternatively
                    called the Super Mario Bros.
                  </div>
                  <i class="far fa-times-circle close-text-overlay"></i>
                </div>
                </div>
              </div>

              <div class="each-card-conatainer">
                <h3 class="card-description">Vertical card with shadow</h3>
                <div class="cards-common-structure cards-common-layout manage-card-height text-only-card cards-shadow-btn-rt">
                  <div class="head-top">
                    <h3>Play Super Mario</h3>
                    <p class="grey-text">-by Shigeru Miyamoto</p>
                  </div>
                  <p class="grey-text description">
                    Super Mario is a platform game series created by Nintendo based
                    on and starring the fictional plumber Mario. Alternatively
                    called the Super Mario Bros.
                  </p>
                  <div class="btn-ico-hor">
                    <button class="btn-hor-read btn-hor"><i class="fas fa-shopping-cart"></i></button>
                    <button class="btn-hor-bookmark btn-hor"><i class="fas fa-gamepad"></i></button>
                    <i class="far fa-heart hor-ico"></i>
                    <i class="fas fa-share hor-ico"></i>
                    <i class="fas fa-ellipsis-v hor-ico"></i>
                  </div>
                </div>
              </div>
              

              <div class="each-card-conatainer">
                <h3 class="card-description">Horizontal card with shadow</h3>
                <div class="cards-common-structure cards-common-layout  text-only-card cards-shadow-tp-lt horizontal-card">
                  <div class="head-top">
                    <h3>Play Super Mario</h3>
                    <p class="grey-text">-by Shigeru Miyamoto</p>
                  </div>
                  <p class="grey-text description">
                    Super Mario is a platform game series created by Nintendo based
                    on and starring the fictional plumber Mario. Alternatively
                    called the Super Mario Bros.
                  </p>
                  <div class="btn-ico-hor">
                    <button class="btn-hor-read btn-hor"><i class="fas fa-shopping-cart"></i></button>
                    <button class="btn-hor-bookmark btn-hor"><i class="fas fa-gamepad"></i></button>
                    <i class="far fa-heart hor-ico"></i>
                    <i class="fas fa-share hor-ico"></i>
                    <i class="fas fa-ellipsis-v hor-ico"></i>
                  </div>
                </div>
              </div>
                    
              <div class="each-card-conatainer">
                <h3 class="card-description">Card with badge</h3>
                <div
                  class="cards-common-structure cards-common-layout manage-card-height sale-badge"
                >
                  <div class="overlay-container">
                    <img
                      src="../../Images/pexels-pixabay-163036.jpg"
                      alt="Mario"
                      class="basic-img-cards"
                    />
                    <div class="overlay">
                      <h3>Play Super Mario</h3>
                      <p>-by Shigeru Miyamoto</p>
                    </div>
                  </div>
                  <p class="grey-text description">
                    Super Mario is a platform game series created by Nintendo based
                    on and starring the fictional plumber Mario. Alternatively
                    called the Super Mario Bros.
                  </p>
    
                  <div class="btn-ico-hor">
                    <button class="btn-hor-read btn-hor"><i class="fas fa-shopping-cart"></i></button>
                    <button class="btn-hor-bookmark btn-hor"><i class="fas fa-gamepad"></i></button>
                    <i class="far fa-heart hor-ico"></i>
                    <i class="fas fa-share hor-ico"></i>
                    <i class="fas fa-ellipsis-v hor-ico"></i>
                  </div>
                </div>
              </div>

              <div class="each-card-conatainer">
                <h3 class="card-description">Vertical card with badge</h3>
                <div class="cards-common-structure cards-common-layout flat-offer-card">
                  <img
                    src="../../Images/pexels-pixabay-163036.jpg"
                    alt="Mario"
                    class="basic-img-cards"
                  />
                  <div>
                    <h3>Play Super Mario</h3>
                    <p class="grey-text">-by Shigeru Miyamoto</p>
                  </div>
                  <p class="grey-text description">
                    Super Mario is a platform game series created by Nintendo based
                    on and starring the fictional plumber Mario. Alternatively
                    called the Super Mario Bros.
                  </p>
                  <div class="btn-ico-hor">
                    <button class="btn-hor-read btn-hor">Add TO CART</button>
                    <button class="btn-hor-bookmark btn-hor">PLAY NOW</button>
                    <i class="far fa-heart hor-ico"></i>
                    <i class="fas fa-share hor-ico"></i>
                    <i class="fas fa-ellipsis-v hor-ico"></i>
                  </div>
                </div>
              </div>
          </div>
          <pre>
            <code class="language-html">
          &lt;div class="cards-container"&gt;

          <!-- Card with header on top -->
          &lt;div class="each-card-conatainer"&gt;
            &lt;h3 class="card-description"&gt;Card with header on top&lt;/h3&gt;
            &lt;div class="cards-common-structure cards-common-layout"&gt;
              &lt;img
                src="Insert_image_here"
                alt=""
                class="basic-img"
              /&gt;
              &lt;div class="head-top"&gt;
                &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                &lt;p class="grey-text"&gt;-by Shigeru Miyamoto&lt;/p&gt;
              &lt;/div&gt;
              &lt;p class="grey-text description"&gt;
                Super Mario is a platform game series created by Nintendo based
                on and starring the fictional plumber Mario. Alternatively
                called the Super Mario Bros.
              &lt;/p&gt;
              &lt;div class="btn-ico-hor"&gt;
                &lt;button class="btn-hor-read btn-hor"&gt;Add TO CART&lt;/button&gt;
                &lt;button class="btn-hor-bookmark btn-hor"&gt;PLAY NOW&lt;/button&gt;
                &lt;i class="far fa-heart hor-ico"&gt;&lt;/i&gt;
                &lt;i class="fas fa-share hor-ico"&gt;&lt;/i&gt;
                &lt;i class="fas fa-ellipsis-v hor-ico"&gt;&lt;/i&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;

          <!-- Vertical card -->
          &lt;div class="each-card-conatainer"&gt;
            &lt;h3 class="card-description"&gt;Vertical card&lt;/h3&gt;
            &lt;div class="cards-common-structure cards-common-layout"&gt;
              &lt;img
                src="Insert_image_here"
                alt=""
                class="basic-img-cards"
              /&gt;
              &lt;div&gt;
                &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                &lt;p class="grey-text"&gt;-by Shigeru Miyamoto&lt;/p&gt;
              &lt;/div&gt;
              &lt;p class="grey-text description"&gt;
                Super Mario is a platform game series created by Nintendo based
                on and starring the fictional plumber Mario. Alternatively
                called the Super Mario Bros.
              &lt;/p&gt;
              &lt;div class="btn-ico-hor"&gt;
                &lt;button class="btn-hor-read btn-hor"&gt;Add TO CART&lt;/button&gt;
                &lt;button class="btn-hor-bookmark btn-hor"&gt;PLAY NOW&lt;/button&gt;
                &lt;i class="far fa-heart hor-ico"&gt;&lt;/i&gt;
                &lt;i class="fas fa-share hor-ico"&gt;&lt;/i&gt;
                &lt;i class="fas fa-ellipsis-v hor-ico"&gt;&lt;/i&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;

          <!-- Card with text overlay -->
          &lt;div class="each-card-conatainer"&gt;
            &lt;h3 class="card-description"&gt;Card with text overlay&lt;/h3&gt;
            &lt;div
              class="cards-common-structure cards-common-layout manage-card-height"
            &gt;
              &lt;div class="overlay-container"&gt;
                &lt;img
                  src="Insert_image_here"
                  alt=""
                  class="basic-img-cards"
                /&gt;
                &lt;div class="overlay"&gt;
                  &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                  &lt;p&gt;-by Shigeru Miyamoto&lt;/p&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;p class="grey-text description"&gt;
                Super Mario is a platform game series created by Nintendo based
                on and starring the fictional plumber Mario. Alternatively
                called the Super Mario Bros.
              &lt;/p&gt;

              &lt;div class="btn-ico-hor"&gt;
                &lt;button class="btn-hor-read btn-hor"&gt;&lt;i class="fas fa-shopping-cart"&gt;&lt;/i&gt;&lt;/button&gt;
                &lt;button class="btn-hor-bookmark btn-hor"&gt;&lt;i class="fas fa-gamepad"&gt;&lt;/i&gt;&lt;/button&gt;
                &lt;i class="far fa-heart hor-ico"&gt;&lt;/i&gt;
                &lt;i class="fas fa-share hor-ico"&gt;&lt;/i&gt;
                &lt;i class="fas fa-ellipsis-v hor-ico"&gt;&lt;/i&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;


          <!-- Horizontal card -->
          &lt;div class="each-card-conatainer"&gt;
            &lt;h3 class="card-description"&gt;Horizontal card&lt;/h3&gt;
            &lt;div class="horizontal-card cards-common-layout"&gt;
              &lt;div class="inner-flex"&gt;
                &lt;img
                  src="Insert_image_here"
                  alt=""
                  class="hor-img"
                /&gt;
                &lt;div&gt;
                  &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                  &lt;p class="grey-text"&gt;-by Shigeru Miyamoto&lt;/p&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="btn-ico-hor"&gt;
                &lt;button class="btn-hor-read btn-hor"&gt;Add TO CART&lt;/button&gt;
                &lt;button class="btn-hor-bookmark btn-hor"&gt;PLAY NOW&lt;/button&gt;
                &lt;i class="far fa-heart hor-ico"&gt;&lt;/i&gt;
                &lt;i class="fas fa-share hor-ico"&gt;&lt;/i&gt;
                &lt;i class="fas fa-ellipsis-v hor-ico"&gt;&lt;/i&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;

          <!-- Card with total text overlay -->
          &lt;div class="each-card-conatainer"&gt;
            &lt;h3 class="card-description"&gt;Card with total text overlay&lt;/h3&gt;
            &lt;div
              class="total-overlay"
            &gt;
              &lt;div class="overlay-container"&gt;
                &lt;img
                  src="Insert_image_here"
                  alt=""
                  class="basic-img-cards"
                /&gt;
                &lt;div class="overlay"&gt;
                  &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                  &lt;p&gt;-by Shigeru Miyamoto&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class="card-overlay-content"&gt;
                  Super Mario is a platform game series created by Nintendo based
                  on and starring the fictional plumber Mario. Alternatively
                  called the Super Mario Bros.
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;

            <!-- Text only card -->
            &lt;div class="each-card-conatainer"&gt;
              &lt;h3 class="card-description"&gt;Text only card&lt;/h3&gt;
              &lt;div class="cards-common-structure cards-common-layout manage-card-height text-only-card"&gt;
                &lt;div class="head-top"&gt;
                  &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                  &lt;p class="grey-text"&gt;-by Shigeru Miyamoto&lt;/p&gt;
                &lt;/div&gt;
                &lt;p class="grey-text description"&gt;
                  Super Mario is a platform game series created by Nintendo based
                  on and starring the fictional plumber Mario. Alternatively
                  called the Super Mario Bros.
                &lt;/p&gt;
                &lt;div class="btn-ico-hor"&gt;
                  &lt;button class="btn-hor-read btn-hor"&gt;&lt;i class="fas fa-shopping-cart"&gt;&lt;/i&gt;&lt;/button&gt;
                  &lt;button class="btn-hor-bookmark btn-hor"&gt;&lt;i class="fas fa-gamepad"&gt;&lt;/i&gt;&lt;/button&gt;
                  &lt;i class="far fa-heart hor-ico"&gt;&lt;/i&gt;
                  &lt;i class="fas fa-share hor-ico"&gt;&lt;/i&gt;
                  &lt;i class="fas fa-ellipsis-v hor-ico"&gt;&lt;/i&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
              
            <!-- Card with dismiss. -->
            &lt;div class="each-card-conatainer dismiss-card"&gt;
              &lt;h3 class="card-description"&gt;Card with dismiss.&lt;/h3&gt;
              &lt;div
                class="total-overlay"
              &gt;
                &lt;div class="overlay-container"&gt;
                  &lt;img
                    src="Insert_image_here"
                    alt=""
                    class="basic-img-cards"
                  /&gt;
                  &lt;div class="overlay"&gt;
                    &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                    &lt;p&gt;-by Shigeru Miyamoto&lt;/p&gt;
                  &lt;/div&gt;
                  &lt;div class="card-overlay-content"&gt;
                    Super Mario is a platform game series created by Nintendo based
                    on and starring the fictional plumber Mario. Alternatively
                    called the Super Mario Bros.
                  &lt;/div&gt;
                  &lt;i class="far fa-times-circle close-text-overlay"&gt;&lt;/i&gt;
                &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;

              <!-- Vertical card with shadow -->
              &lt;div class="each-card-conatainer"&gt;
              &lt;h3 class="card-description"&gt;Vertical card with shadow&lt;/h3&gt;
              &lt;div class="cards-common-structure cards-common-layout manage-card-height text-only-card cards-shadow-btn-rt"&gt;
                &lt;div class="head-top"&gt;
                  &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                  &lt;p class="grey-text"&gt;-by Shigeru Miyamoto&lt;/p&gt;
                &lt;/div&gt;
                &lt;p class="grey-text description"&gt;
                  Super Mario is a platform game series created by Nintendo based
                  on and starring the fictional plumber Mario. Alternatively
                  called the Super Mario Bros.
                &lt;/p&gt;
                &lt;div class="btn-ico-hor"&gt;
                  &lt;button class="btn-hor-read btn-hor"&gt;&lt;i class="fas fa-shopping-cart"&gt;&lt;/i&gt;&lt;/button&gt;
                  &lt;button class="btn-hor-bookmark btn-hor"&gt;&lt;i class="fas fa-gamepad"&gt;&lt;/i&gt;&lt;/button&gt;
                  &lt;i class="far fa-heart hor-ico"&gt;&lt;/i&gt;
                  &lt;i class="fas fa-share hor-ico"&gt;&lt;/i&gt;
                  &lt;i class="fas fa-ellipsis-v hor-ico"&gt;&lt;/i&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            
            <!-- Horizontal card with shadow -->
            &lt;div class="each-card-conatainer"&gt;
              &lt;h3 class="card-description"&gt;Horizontal card with shadow&lt;/h3&gt;
              &lt;div class="cards-common-structure cards-common-layout  text-only-card cards-shadow-tp-lt horizontal-card"&gt;
                &lt;div class="head-top"&gt;
                  &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                  &lt;p class="grey-text"&gt;-by Shigeru Miyamoto&lt;/p&gt;
                &lt;/div&gt;
                &lt;p class="grey-text description"&gt;
                  Super Mario is a platform game series created by Nintendo based
                  on and starring the fictional plumber Mario. Alternatively
                  called the Super Mario Bros.
                &lt;/p&gt;
                &lt;div class="btn-ico-hor"&gt;
                  &lt;button class="btn-hor-read btn-hor"&gt;&lt;i class="fas fa-shopping-cart"&gt;&lt;/i&gt;&lt;/button&gt;
                  &lt;button class="btn-hor-bookmark btn-hor"&gt;&lt;i class="fas fa-gamepad"&gt;&lt;/i&gt;&lt;/button&gt;
                  &lt;i class="far fa-heart hor-ico"&gt;&lt;/i&gt;
                  &lt;i class="fas fa-share hor-ico"&gt;&lt;/i&gt;
                  &lt;i class="fas fa-ellipsis-v hor-ico"&gt;&lt;/i&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
                  
            <!-- Card with badge -->
            &lt;div class="each-card-conatainer"&gt;
              &lt;h3 class="card-description"&gt;Card with badge&lt;/h3&gt;
              &lt;div
                class="cards-common-structure cards-common-layout manage-card-height sale-badge"
              &gt;
                &lt;div class="overlay-container"&gt;
                  &lt;img
                    src="insert_your_img"
                    alt=""
                    class="basic-img-cards"
                  /&gt;
                  &lt;div class="overlay"&gt;
                    &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                    &lt;p&gt;-by Shigeru Miyamoto&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;p class="grey-text description"&gt;
                  Super Mario is a platform game series created by Nintendo based
                  on and starring the fictional plumber Mario. Alternatively
                  called the Super Mario Bros.
                &lt;/p&gt;
          
                &lt;div class="btn-ico-hor"&gt;
                  &lt;button class="btn-hor-read btn-hor"&gt;&lt;i class="fas fa-shopping-cart"&gt;&lt;/i&gt;&lt;/button&gt;
                  &lt;button class="btn-hor-bookmark btn-hor"&gt;&lt;i class="fas fa-gamepad"&gt;&lt;/i&gt;&lt;/button&gt;
                  &lt;i class="far fa-heart hor-ico"&gt;&lt;/i&gt;
                  &lt;i class="fas fa-share hor-ico"&gt;&lt;/i&gt;
                  &lt;i class="fas fa-ellipsis-v hor-ico"&gt;&lt;/i&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          
            <!-- Vertical card with badge-->
            &lt;div class="each-card-conatainer"&gt;
              &lt;h3 class="card-description"&gt;Vertical card with badge&lt;/h3&gt;
              &lt;div class="cards-common-structure cards-common-layout flat-offer-card"&gt;
                &lt;img
                  src="insert_your_img"
                  alt=""
                  class="basic-img-cards"
                /&gt;
                &lt;div&gt;
                  &lt;h3&gt;Play Super Mario&lt;/h3&gt;
                  &lt;p class="grey-text"&gt;-by Shigeru Miyamoto&lt;/p&gt;
                &lt;/div&gt;
                &lt;p class="grey-text description"&gt;
                  Super Mario is a platform game series created by Nintendo based
                  on and starring the fictional plumber Mario. Alternatively
                  called the Super Mario Bros.
                &lt;/p&gt;
                &lt;div class="btn-ico-hor"&gt;
                  &lt;button class="btn-hor-read btn-hor"&gt;Add TO CART&lt;/button&gt;
                  &lt;button class="btn-hor-bookmark btn-hor"&gt;PLAY NOW&lt;/button&gt;
                  &lt;i class="far fa-heart hor-ico"&gt;&lt;/i&gt;
                  &lt;i class="fas fa-share hor-ico"&gt;&lt;/i&gt;
                  &lt;i class="fas fa-ellipsis-v hor-ico"&gt;&lt;/i&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;

          &lt;/div&gt;
            </code>
          </pre>
        </div>
      </main>
    </div>
    <footer class="foot">All rights reserved</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="cards.js"></script>
    <script src="../../Documentation/script.js"></script>
  </body>
</html>
