<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="navigation.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark-reasonable.min.css"
      integrity="sha512-RwXJS3k4Z0IK6TGoL3pgQlA9g2THFhKL7z9TYWdAI8u6xK0AUuMWieJuWgTRayywC9A94ifUj1RzjDa1NIlUIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Navigation</title>
  </head>
  <body>
    <header class="doc-head">
      <i class="fas fa-times close-side-nav"></i>
      <i class="fas fa-bars side-nav-options"></i>
      <div class="naming">
        <img
          src="../../Images/StickIcecream.svg"
          alt="icecream"
          class="head-IC"
        />
        <h1 class="cursive">Ice Cream UI</h1>
      </div>

      <nav class="page-links">
        <a class="underline link-head" href="../../index.html">INSTALLATION</a>
        <a
          class="underline link-head"
          href="/Utilities/margin-paddings/margin-padding.html"
          >DOCS</a
        >
      </nav>

      <a href="https://github.com/psychoactiv" class="github-repo">
        <img src="../../Images/icons8-github.svg" alt="Github" class="head-IC"
      /></a>
    </header>
    <div class="content-area">
      <aside class="section-aside">
        <h2 class="section-head">Sections</h2>
        <ul class="side-nav">
          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>INSTALLATION
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a href="../../index.html" class="underline side-link"
                    >Installation</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i> UTILITIES
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/Utilities/margin-paddings/margin-padding.html"
                    class="underline side-link"
                    >Margin/Padding</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/texts/text-utils.html"
                    class="underline side-link"
                    >Text-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/colors-borders/colors-borders.html"
                    class="underline side-link"
                    >Colors/Borders</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/flex-utils/flex-utils.html"
                    class="underline side-link"
                    >Flex-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/Grid-utils/grid.html"
                    class="underline side-link"
                    >Grid-utils</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>COMPONENTS
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/components/Alerts/alert.html"
                    class="underline side-link"
                    >Alerts</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Avatar/Avatar.html"
                    class="underline side-link"
                    >Avatar</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Badges/badges.html"
                    class="underline side-link"
                    >Badges</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Buttons/buttons.html"
                    class="underline side-link"
                    >Buttons</a
                  >
                </li>
                <li>
                  <a
                    href="/components/cards/cards.html"
                    class="underline side-link"
                    >Cards</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Images/image.html"
                    class="underline side-link"
                    >Images</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Inputs/inputs.html"
                    class="underline side-link"
                    >Inputs</a
                  >
                </li>
                <li>
                  <a
                    href="/components/lists/list.html"
                    class="underline side-link"
                    >Lists</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Modal/modal.html"
                    class="underline side-link"
                    >Modals</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Navigation/navigation.html"
                    class="underline side-link"
                    >Navigations</a
                  >
                </li>
                <li>
                  <a
                    href="/components/ratings/ratings.html"
                    class="underline side-link"
                    >Ratings</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Slider/slider.html"
                    class="underline side-link"
                    >Slider</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Snackbar/snackbar.html"
                    class="underline side-link"
                    >Snackbar</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
      <main class="main-div">
        <h2>Navigations</h2>
        <h4 class="mgn-btm-2 mgn-tp-2">Simple header with Icons</h4>
        <header class="header-nav-bar icon-head">
          <h2>Header</h2>
          <nav class="Navigation-nav-bar">
            <a href=""><i class="fas fa-home"></i></a
            ><a href=""><i class="fas fa-taxi"></i></a
            ><a href=""><i class="fas fa-address-card"></i></a
            ><a href=""><i class="fas fa-address-book"></i></a>
          </nav>
        </header>

        <pre><code class="language-html">
 &lt;header class="header-nav-bar icon-head"&gt;
  &lt;h2&gt;Header&lt;/h2&gt;
  &lt;nav class="Navigation-nav-bar"&gt;
    &lt;a href=""&gt;&lt;i class="fas fa-home"&gt;&lt;/i&gt;&lt;/a
    &gt;&lt;a href=""&gt;&lt;i class="fas fa-taxi"&gt;&lt;/i&gt;&lt;/a
    &gt;&lt;a href=""&gt;&lt;i class="fas fa-address-card"&gt;&lt;/i&gt;&lt;/a
    &gt;&lt;a href=""&gt;&lt;i class="fas fa-address-book"&gt;&lt;/i&gt;&lt;/a&gt;
  &lt;/nav&gt;
 &lt;/header&gt;
        </code></pre>

        <h4 class="mgn-tp-2">Responsive navigation</h4>
        <p class="mgn-btm-2">
          when in small screen it will shrink down to a burger menu option,
          which has dropdown sub-menu (P2 task)
        </p>

        <header class="header-nav-bar">
          <h2>Header</h2>
          <nav class="Navigation-nav-bar changing-nav">
            <a href="" class="nav-links-header">Home</a
            ><a href="" class="nav-links-header">Services</a
            ><a href="" class="nav-links-header">About</a
            ><a href="" class="nav-links-header">Contacts</a>
          </nav>
          <div class="drpdwn-nav">
            <button class="drpdwnbtn"><i class="fas fa-hamburger"></i></button>
            <ul class="drpdwn-li">
              <li><a href="" class="drpdwn-links">Home</a></li>
              <li><a href="" class="drpdwn-links">Services</a></li>
              <li><a href="" class="drpdwn-links">About</a></li>
              <li><a href="" class="drpdwn-links">Contacts</a></li>
            </ul>
          </div>
        </header>
        <pre><code class="language-html">
&lt;header class="header-nav-bar"&gt;
  &lt;h2&gt;Header&lt;/h2&gt;
  &lt;nav class="Navigation-nav-bar changing-nav"&gt;
    &lt;a href="" class="nav-links-header"&gt;Home&lt;/a
    &gt;&lt;a href="" class="nav-links-header"&gt;Services&lt;/a
    &gt;&lt;a href="" class="nav-links-header"&gt;About&lt;/a
    &gt;&lt;a href="" class="nav-links-header"&gt;Contacts&lt;/a&gt;
  &lt;/nav&gt;
  &lt;div class="drpdwn-nav"&gt;
    &lt;button class="drpdwnbtn"&gt;&lt;i class="fas fa-hamburger"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;ul class="drpdwn-li"&gt;
      &lt;li&gt;&lt;a href="" class="drpdwn-links"&gt;Home&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="" class="drpdwn-links"&gt;Services&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="" class="drpdwn-links"&gt;About&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="" class="drpdwn-links"&gt;Contacts&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/header&gt;
        </code></pre>

        <h4 class="mgn-tp-2">Submenu header</h4>
        <p class="mgn-btm-2">
          Hover on the icons to display submenus. (P2 task)
        </p>
        <header class="header-nav-bar icon-head">
          <h2>Header</h2>
          <nav class="Navigation-nav-bar drpdwn-icon-nav">
            <button class="drpdwn-icon-btn">
              <i class="fas fa-home"></i>
              <ul class="drpdwn-icon-li">
                <li><a href="" class="drpdwn-icon-links">option 1</a></li>
                <li><a href="" class="drpdwn-icon-links">option 2</a></li>
                <li><a href="" class="drpdwn-icon-links">option 3</a></li>
                <li><a href="" class="drpdwn-icon-links">option 4</a></li>
              </ul>
            </button>

            <button class="drpdwn-icon-btn">
              <i class="fas fa-taxi"></i>
              <ul class="drpdwn-icon-li">
                <li><a href="" class="drpdwn-icon-links">option 1</a></li>
                <li><a href="" class="drpdwn-icon-links">option 2</a></li>
                <li><a href="" class="drpdwn-icon-links">option 3</a></li>
                <li><a href="" class="drpdwn-icon-links">option 4</a></li>
              </ul>
            </button>

            <button class="drpdwn-icon-btn">
              <i class="fas fa-address-card"></i>
              <ul class="drpdwn-icon-li">
                <li><a href="" class="drpdwn-icon-links">option 1</a></li>
                <li><a href="" class="drpdwn-icon-links">option 2</a></li>
                <li><a href="" class="drpdwn-icon-links">option 3</a></li>
                <li><a href="" class="drpdwn-icon-links">option 4</a></li>
              </ul>
            </button>

            <button class="drpdwn-icon-btn">
              <i class="fas fa-address-book"></i>
              <ul class="drpdwn-icon-li">
                <li><a href="" class="drpdwn-icon-links">option 1</a></li>
                <li><a href="" class="drpdwn-icon-links">option 2</a></li>
                <li><a href="" class="drpdwn-icon-links">option 3</a></li>
                <li><a href="" class="drpdwn-icon-links">option 4</a></li>
              </ul>
            </button>
          </nav>
        </header>

        <pre><code class="language-html">
&lt;header class="header-nav-bar icon-head"&gt;
  &lt;h2&gt;Header&lt;/h2&gt;
  &lt;nav class="Navigation-nav-bar drpdwn-icon-nav"&gt;
    &lt;button class="drpdwn-icon-btn"&gt;
      &lt;i class="fas fa-home"&gt;&lt;/i&gt;
      &lt;ul class="drpdwn-icon-li"&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 4&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/button&gt;

    &lt;button class="drpdwn-icon-btn"&gt;
      &lt;i class="fas fa-taxi"&gt;&lt;/i&gt;
      &lt;ul class="drpdwn-icon-li"&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 4&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/button&gt;

    &lt;button class="drpdwn-icon-btn"&gt;
      &lt;i class="fas fa-address-card"&gt;&lt;/i&gt;
      &lt;ul class="drpdwn-icon-li"&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 4&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/button&gt;

    &lt;button class="drpdwn-icon-btn"&gt;
      &lt;i class="fas fa-address-book"&gt;&lt;/i&gt;
      &lt;ul class="drpdwn-icon-li"&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" class="drpdwn-icon-links"&gt;option 4&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/button&gt;
  &lt;/nav&gt;
&lt;/header&gt;
        </code></pre>

        <h4 class="mgn-tp-2">Shrinking Header</h4>
        <p class="mgn-btm-2">
          This link will redirect you to the shrinking Header page. while
          scrolling the header will shrink.
        </p>
        <button class="shrink-head-redirect">
          <a href="shrinkNav/shrink.html">Redirect</a>
        </button>
        <p class="mgn-tp-2">
          This component uses Javascript (for shrinking navbar) add this script
          tag above your closing body tag
        </p>
        <pre>
          <code class="language-html">
            &lt;script src="https://ice-cream-ui.netlify.app/components/navigation/shrinkNav/shrink.js"&gt;&lt;/script&gt;
          </code>
        </pre>
        <pre><code class="language-html">
&lt;header class="drawer-navbar"&gt;
  &lt;h1 class="drawer-heading"&gt;Heading&lt;/h1&gt;
  &lt;nav class="head-in"&gt;
    &lt;i class="fas fa-download"&gt;&lt;/i&gt;
  &lt;/nav&gt;
&lt;/header&gt;
        </code></pre>
        <h4 class="mgn-tp-2">Burger-menu with Drawer</h4>
        <p class="mgn-btm-2">
          Below button will redirect you to drawer component. (P2 task)
        </p>
        <button class="shrink-head-redirect">
          <a href="drawer/drawer.html">Redirect</a>
        </button>
        <p class="mgn-tp-2">
          This component uses Javascript (for drawer) add this script
          tag above your closing body tag
        </p>
        <pre>
          <code class="language-html">
            &lt;script src="https://ice-cream-ui.netlify.app/components/navigation/drawer/drawer.js"&gt;&lt;/script&gt;
          </code>
        </pre>
        <pre><code class="language-html">
          &lt;div class="drawer-whole"&gt;
&lt;header class="drawer-head-section"&gt;
    &lt;button class="side-bar-ico"&gt;&lt;i class="fas fa-bars"&gt;&lt;/i&gt;&lt;/button&gt;

    This is a Header.
    &lt;nav class="drawer-nav-redirects"&gt;
      &lt;a href="/"&gt;Home&lt;/a&gt;
      &lt;a href="/"&gt;about&lt;/a&gt;
      &lt;a href="/"&gt;contacts&lt;/a&gt;
    &lt;/nav&gt;
  &lt;/header&gt;
&lt;/div&gt;
&lt;aside class="drawer-sidebar"&gt;
  &lt;div class="drawer-user-info"&gt;
    &lt;div class="drawer-top-side"&gt;
      &lt;h3&gt;Mail&lt;/h3&gt;
      &lt;i class="fas fa-times"&gt;&lt;/i&gt;
    &lt;/div&gt;
    &lt;p&gt;MeetMe@NextWorld.jmail.com&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="drawer-content"&gt;
    &lt;p class="drawer-line"&gt;Generals&lt;/p&gt;
    &lt;ul class="drawer-items general"&gt;
      &lt;li&gt;&lt;i class="fas fa-inbox"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Inbox&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;ul class="drawer-items general"&gt;
      &lt;li&gt;&lt;i class="fas fa-star"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;star&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;ul class="drawer-items general"&gt;
      &lt;li&gt;
        &lt;i class="fas fa-paper-plane"&gt;&lt;/i&gt;
      &lt;/li&gt;
      &lt;li&gt;Sent&nbsp;Mail&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;ul class="drawer-items general"&gt;
      &lt;li&gt;&lt;i class="fas fa-envelope-open"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Drafts&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;p class="drawer-line"&gt;Labels&lt;/p&gt;
    &lt;ul class="drawer-items labels"&gt;
      &lt;li&gt;&lt;i class="far fa-bookmark"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Family&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul class="drawer-items labels"&gt;
      &lt;li&gt;&lt;i class="far fa-bookmark"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Friends&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul class="drawer-items labels"&gt;
      &lt;li&gt;&lt;i class="far fa-bookmark"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Work&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;p class="drawer-line"&gt;Spams&lt;/p&gt;
    &lt;ul class="drawer-items danger"&gt;
      &lt;li&gt;&lt;i class="fas fa-exclamation"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Possible&nbsp;Spams&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul class="drawer-items danger"&gt;
      &lt;li&gt;&lt;i class="fas fa-exclamation"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Reported&nbsp;Spams&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul class="drawer-items danger"&gt;
      &lt;li&gt;&lt;i class="fas fa-exclamation"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Blocked&nbsp;list&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;p class="drawer-line"&gt;Notifications&lt;/p&gt;
    &lt;ul class="drawer-items notifications"&gt;
      &lt;li&gt;&lt;i class="fas fa-bell"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Alerts&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul class="drawer-items danger"&gt;
      &lt;li&gt;&lt;i class="fas fa-bell-slash"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Blocked&nbsp;Alerts&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;p class="drawer-line"&gt;Settings&lt;/p&gt;
    &lt;ul class="drawer-items settings"&gt;
      &lt;li&gt;&lt;i class="far fa-id-badge"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Profile&nbsp;Settings&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;ul class="drawer-items danger"&gt;
      &lt;li&gt;&lt;i class="fas fa-trash-alt"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Trash&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul class="drawer-items danger"&gt;
      &lt;li&gt;&lt;i class="fas fa-user-slash"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Delete&nbsp;Profile&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul class="drawer-items settings"&gt;
      &lt;li&gt;&lt;i class="fas fa-cog"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;More&nbsp;Settings&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;

    &lt;p class="drawer-line"&gt;&lt;/p&gt;
    &lt;ul class="drawer-items feedbacks"&gt;
      &lt;li&gt;&lt;i class="far fa-comment-alt"&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;li&gt;Feedbacks&lt;/li&gt;
      &lt;li&gt;&lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/aside&gt;
&lt;div class="drawer-whole"&gt;
  &lt;div class="drawer-main"&gt;
    &lt;h1&gt;Body content&lt;/h1&gt;
    &lt;p&gt;
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
      nihil dicta cupiditate necessitatibus consequuntur deserunt iusto
   
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
        </code></pre>
      </main>
    </div>
    <footer class="foot">All rights reserved</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../script.js"></script>
  </body>
</html>
