<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="list.css" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="alert.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark-reasonable.min.css"
      integrity="sha512-RwXJS3k4Z0IK6TGoL3pgQlA9g2THFhKL7z9TYWdAI8u6xK0AUuMWieJuWgTRayywC9A94ifUj1RzjDa1NIlUIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Lists</title>
  </head>
  <body>
    <header class="doc-head">
      <i class="fas fa-times close-side-nav"></i>
      <i class="fas fa-bars side-nav-options"></i>
      <div class="naming">
        <img
          src="../../Images/StickIcecream.svg"
          alt="icecream"
          class="head-IC"
        />
        <h1 class="cursive">Ice Cream UI</h1>
      </div>

      <nav class="page-links">
        <a class="underline link-head" href="../../index.html">INSTALLATION</a>
        <a
          class="underline link-head"
          href="/Utilities/margin-paddings/margin-padding.html"
          >DOCS</a
        >
      </nav>

      <a href="https://github.com/psychoactiv" class="github-repo">
        <img src="../../Images/icons8-github.svg" alt="Github" class="head-IC"
      /></a>
    </header>
    <div class="content-area">
      <aside class="section-aside">
        <h2 class="section-head">Sections</h2>
        <ul class="side-nav">
          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>INSTALLATION
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a href="../../index.html" class="underline side-link"
                    >Installation</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i> UTILITIES
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/Utilities/margin-paddings/margin-padding.html"
                    class="underline side-link"
                    >Margin/Padding</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/texts/text-utils.html"
                    class="underline side-link"
                    >Text-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/colors-borders/colors-borders.html"
                    class="underline side-link"
                    >Colors/Borders</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/flex-utils/flex-utils.html"
                    class="underline side-link"
                    >Flex-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/Grid-utils/grid.html"
                    class="underline side-link"
                    >Grid-utils</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>COMPONENTS
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/components/Alerts/alert.html"
                    class="underline side-link"
                    >Alerts</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Avatar/Avatar.html"
                    class="underline side-link"
                    >Avatar</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Badges/badges.html"
                    class="underline side-link"
                    >Badges</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Buttons/buttons.html"
                    class="underline side-link"
                    >Buttons</a
                  >
                </li>
                <li>
                  <a
                    href="/components/cards/cards.html"
                    class="underline side-link"
                    >Cards</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Images/image.html"
                    class="underline side-link"
                    >Images</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Inputs/inputs.html"
                    class="underline side-link"
                    >Inputs</a
                  >
                </li>
                <li>
                  <a
                    href="/components/lists/list.html"
                    class="underline side-link"
                    >Lists</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Modal/modal.html"
                    class="underline side-link"
                    >Modals</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Navigation/navigation.html"
                    class="underline side-link"
                    >Navigations</a
                  >
                </li>
                <li>
                  <a
                    href="/components/ratings/ratings.html"
                    class="underline side-link"
                    >Ratings</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Slider/slider.html"
                    class="underline side-link"
                    >Slider</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Snackbar/snackbar.html"
                    class="underline side-link"
                    >Snackbar</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
      <main class="main-div">
        <h2 class="mgn-tp-2 btm-tp-2">Lists</h2>
        <p>
          Note - lists have default position set to inside if you want list to
          be displayed outside remove lists-component and add
          lists-component-outside to the element
        </p>
        <h3 class="mgn-tp-2 btm-tp-2">Unordered list</h3>
        <ul class="lists-component">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
          <li>Item 5</li>
        </ul>
        <pre>
              <code class="language-html">
              &lt;ul class="lists-component"&gt;
                &lt;li&gt;Item 1&lt;/li&gt;
                &lt;li&gt;Item 2&lt;/li&gt;
                &lt;li&gt;Item 3&lt;/li&gt;
                &lt;li&gt;Item 4&lt;/li&gt;
                &lt;li&gt;Item 5&lt;/li&gt;
              &lt;/ul&gt;
            
              </code>
            </pre>
        <h3 class="mgn-tp-2 btm-tp-2">Ordered list</h3>
        <ol class="lists-component">
          <li>Item I</li>
          <li>Item II</li>
          <li>Item III</li>
          <li>Item IV</li>
          <li>Item V</li>
        </ol>
        <pre>
        <code class="language-html">
        &lt;ol class="lists-component"&gt;
          &lt;li&gt;Item I&lt;/li&gt;
          &lt;li&gt;Item II&lt;/li&gt;
          &lt;li&gt;Item III&lt;/li&gt;
          &lt;li&gt;Item IV&lt;/li&gt;
          &lt;li&gt;Item V&lt;/li&gt;
        &lt;/ol&gt;
        </code>     
      </pre>

        <h3 class="mgn-tp-2 btm-tp-2">squared list</h3>
        <ul class="squared-list lists-component">
          <li>Item I</li>
          <li>Item II</li>
          <li>Item III</li>
          <li>Item IV</li>
          <li>Item V</li>
        </ul>
        <pre>
        <code class="language-html">
        &lt;ul class="squared-list lists-component"&gt;
          &lt;li&gt;Item I&lt;/li&gt;
          &lt;li&gt;Item II&lt;/li&gt;
          &lt;li&gt;Item III&lt;/li&gt;
          &lt;li&gt;Item IV&lt;/li&gt;
          &lt;li&gt;Item V&lt;/li&gt;
        &lt;/ul&gt;
        </code>    
      </pre>

        <h3 class="mgn-tp-2 btm-tp-2">Circled list</h3>

        <ul class="circled-list lists-component">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
          <li>Biscuits</li>
          <li>Pancakes</li>
        </ul>
        <pre>
          <code class="language-html">
  &lt;ul class="circled-list lists-component"&gt;
    &lt;li&gt;Coffee&lt;/li&gt;
    &lt;li&gt;Tea&lt;/li&gt;
    &lt;li&gt;Milk&lt;/li&gt;
    &lt;li&gt;Biscuits&lt;/li&gt;
    &lt;li&gt;Pancakes&lt;/li&gt;
  &lt;/ul&gt;
          </code>
        </pre>

        <h3 class="mgn-tp-2 btm-tp-2">Bordered list</h3>
        <ul class="circled-list lists-component list-border">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
          <li>Biscuits</li>
          <li>Pancakes</li>
        </ul>
        <pre>
          <code class="language-html">
  &lt;ul class="circled-list lists-component list-border"&gt;
    &lt;li&gt;Coffee&lt;/li&gt;
    &lt;li&gt;Tea&lt;/li&gt;
    &lt;li&gt;Milk&lt;/li&gt;
    &lt;li&gt;Biscuits&lt;/li&gt;
    &lt;li&gt;Pancakes&lt;/li&gt;
  &lt;/ul&gt;
          </code>
        </pre>

        <h3 class="mgn-tp-2 btm-tp-2">colored list</h3>
        <ul class="circled-list lists-component list-border">
          <li class="primary-bg white-color">Coffee</li>
          <li class="secondary-bg white-color">Tea</li>
          <li class="primary-bg white-color">Milk</li>
          <li class="secondary-bg white-color">Biscuits</li>
          <li class="primary-bg white-color">Pancakes</li>
        </ul>

        <pre>
          <code class="language-html">
  &lt;ul class="circled-list lists-component list-border"&gt;
    &lt;li class="primary-bg white-color"&gt;Coffee&lt;/li&gt;
    &lt;li class="secondary-bg white-color"&gt;Tea&lt;/li&gt;
    &lt;li class="primary-bg white-color"&gt;Milk&lt;/li&gt;
    &lt;li class="secondary-bg white-color"&gt;Biscuits&lt;/li&gt;
    &lt;li class="primary-bg white-color"&gt;Pancakes&lt;/li&gt;
  &lt;/ul&gt;
          </code>
        </pre>

        <h3 class="mgn-tp-2 btm-tp-2">Hover effect list</h3>
        <ul class="circled-list lists-component hover-list">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
          <li>Biscuits</li>
          <li>Pancakes</li>
        </ul>
        <pre>
            <code class="language-html">
              &lt;ul class="circled-list lists-component hover-list"&gt;
              &lt;li&gt;Coffee&lt;/li&gt;
              &lt;li&gt;Tea&lt;/li&gt;
              &lt;li&gt;Milk&lt;/li&gt;
              &lt;li&gt;Biscuits&lt;/li&gt;
              &lt;li&gt;Pancakes&lt;/li&gt;
            &lt;/ul&gt;
            </code>
          </pre>
        <h3></h3>
        <ul class="account">
          <li><h5 class="contact-descript">Missed calls</h5></li>
          <li class="contacts">
            <img
              class="list-imgs"
              src="../../Images/pexels-antoni-shkraba-5149163.jpg"
              alt="profile"
            />
            <p>Arya</p>
            <i class="fas fa-phone-slash"></i>
          </li>
          <li class="contacts">
            <img
              class="list-imgs"
              src="/Images/C8QsNInXUAAyjZQ.jpg"
              alt="profile"
            />
            <p>Karan</p>
            <i class="fas fa-phone-slash"></i>
          </li>
          <li class="contacts">
            <img
              class="list-imgs"
              src="/Images/pexels-cottonbro-5990275.jpg"
              alt="profile"
            />
            <p>Sayukh</p>
            <i class="fas fa-phone-slash"></i>
          </li>
          <li class="contact-descript">
            <button class="add-contact">Clear History</button>
          </li>
        </ul>
        <pre><code class="language-html">
          &lt;ul class="account"&gt;
          &lt;li&gt;&lt;h5 class="contact-descript"&gt;Missed calls&lt;/h5&gt;&lt;/li&gt;
          &lt;li class="contacts"&gt;
            &lt;img
              class="list-imgs"
              src="insert_your_img"
              alt=""
            /&gt;
            &lt;p&gt;Arya&lt;/p&gt;
            &lt;i class="fas fa-phone-slash"&gt;&lt;/i&gt;
          &lt;/li&gt;
          &lt;li class="contacts"&gt;
            &lt;img
              class="list-imgs"
              src="insert_your_img"
              alt=""
            /&gt;
            &lt;p&gt;Karan&lt;/p&gt;
            &lt;i class="fas fa-phone-slash"&gt;&lt;/i&gt;
          &lt;/li&gt;
          &lt;li class="contacts"&gt;
            &lt;img
              class="list-imgs"
              src="insert_your_img"
              alt=""
            /&gt;
            &lt;p&gt;Sayukh&lt;/p&gt;
            &lt;i class="fas fa-phone-slash"&gt;&lt;/i&gt;
          &lt;/li&gt;
          &lt;li class="contact-descript"&gt;
            &lt;button class="add-contact"&gt;Clear History&lt;/button&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
        </code></pre>
      </main>
    </div>
    <footer class="foot">All rights reserved</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../script.js"></script>
  </body>
</html>
