<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="snackbar.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark-reasonable.min.css"
      integrity="sha512-RwXJS3k4Z0IK6TGoL3pgQlA9g2THFhKL7z9TYWdAI8u6xK0AUuMWieJuWgTRayywC9A94ifUj1RzjDa1NIlUIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Snackbar</title>
  </head>
  <body>
    <header class="doc-head">
      <i class="fas fa-times close-side-nav"></i>
      <i class="fas fa-bars side-nav-options"></i>
      <div class="naming">
        <img
          src="../../Images/StickIcecream.svg"
          alt="icecream"
          class="head-IC"
        />
        <h1 class="cursive">Ice Cream UI</h1>
      </div>

      <nav class="page-links">
        <a class="underline link-head" href="../../index.html">INSTALLATION</a>
        <a
          class="underline link-head"
          href="/Utilities/margin-paddings/margin-padding.html"
          >DOCS</a
        >
      </nav>

      <a href="https://github.com/psychoactiv" class="github-repo">
        <img src="../../Images/icons8-github.svg" alt="Github" class="head-IC"
      /></a>
    </header>
    <div class="content-area">
      <aside class="section-aside">
        <h2 class="section-head">Sections</h2>
        <ul class="side-nav">
          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>INSTALLATION
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a href="../../index.html" class="underline side-link"
                    >Installation</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i> UTILITIES
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/Utilities/margin-paddings/margin-padding.html"
                    class="underline side-link"
                    >Margin/Padding</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/texts/text-utils.html"
                    class="underline side-link"
                    >Text-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/colors-borders/colors-borders.html"
                    class="underline side-link"
                    >Colors/Borders</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/flex-utils/flex-utils.html"
                    class="underline side-link"
                    >Flex-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/Grid-utils/grid.html"
                    class="underline side-link"
                    >Grid-utils</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>COMPONENTS
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/components/Alerts/alert.html"
                    class="underline side-link"
                    >Alerts</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Avatar/Avatar.html"
                    class="underline side-link"
                    >Avatar</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Badges/badges.html"
                    class="underline side-link"
                    >Badges</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Buttons/buttons.html"
                    class="underline side-link"
                    >Buttons</a
                  >
                </li>
                <li>
                  <a
                    href="/components/cards/cards.html"
                    class="underline side-link"
                    >Cards</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Images/image.html"
                    class="underline side-link"
                    >Images</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Inputs/inputs.html"
                    class="underline side-link"
                    >Inputs</a
                  >
                </li>
                <li>
                  <a
                    href="/components/lists/list.html"
                    class="underline side-link"
                    >Lists</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Modal/modal.html"
                    class="underline side-link"
                    >Modals</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Navigation/navigation.html"
                    class="underline side-link"
                    >Navigations</a
                  >
                </li>
                <li>
                  <a
                    href="/components/ratings/ratings.html"
                    class="underline side-link"
                    >Ratings</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Slider/slider.html"
                    class="underline side-link"
                    >Slider</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Snackbar/snackbar.html"
                    class="underline side-link"
                    >Snackbar</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
      <main class="main-div">
        <p class="space-para">
          This page is for snackbars. Click on the bellow buttons for displaying
          snackbar
        </p>
        <div class="all-snack-btns">
          <button class="display-btn snck">Demo Snackbar</button>
          <button class="display-snack-btn snck">Button on Snackbar</button>
          <button class="baseline snck">Baseline snackbar</button>
          <button class="stacked snck">Stacked snackbar</button>
          <button class="leading snck">Leading snackbar</button>
        </div>

        <div class="all-Snackbar">
          <!-- simple Snackbar -->
          <div class="snack hidden-snackbar snacked">
            <div>This is a snackbar</div>
            <i class="fas fa-times cancel-snackbar"></i>
          </div>

          <!-- Baseline Snackbar -->
          <div class="baseline-snackbar hidden-snackbar snacked">
            <div>Can't send photo. Retry in 5 seconds</div>
            <button class="undo-snackbar">Retry</button>
            <i class="fas fa-times cancel-snackbar"></i>
          </div>

          <!-- Snackbar with a button -->
          <div class="snack-res hidden-snackbar snacked">
            <div>Your response has been recorded</div>
            <button class="undo-snackbar">Undo</button>
            <i class="fas fa-times cancel-snackbar"></i>
          </div>

          <!-- Stacked Snackbar -->
          <div class="stacked-snackbar hidden-snackbar snacked">
            <div>
              This item already has the label "travel". You can add a new label.
            </div>
            <button class="undo-snackbar">Undo</button>
            <i class="fas fa-times cancel-snackbar"></i>
          </div>

          <!--leading snackbar-->
          <div class="leading-snackbar hidden-snackbar snacked">
            Your photo has been archived.
            <button class="undo-snackbar">Undo</button>
            <i class="fas fa-times cancel-snackbar"></i>
          </div>
        </div>
        <pre><code class="language-html">
&lt;div class="all-snack-btns"&gt;
  &lt;button class="display-btn snck"&gt;Demo Snackbar&lt;/button&gt;
  &lt;button class="display-snack-btn snck"&gt;Button on Snackbar&lt;/button&gt;
  &lt;button class="baseline snck"&gt;Baseline snackbar&lt;/button&gt;
  &lt;button class="stacked snck"&gt;Stacked snackbar&lt;/button&gt;
  &lt;button class="leading snck"&gt;Leading snackbar&lt;/button&gt;
&lt;/div&gt;

&lt;div class="all-Snackbar"&gt;
  &lt;!-- simple Snackbar --&gt;
  &lt;div class="snack hidden-snackbar snacked"&gt;
    &lt;div&gt;This is a snackbar&lt;/div&gt;
    &lt;i class="fas fa-times cancel-snackbar"&gt;&lt;/i&gt;
  &lt;/div&gt;

  &lt;!-- Baseline Snackbar --&gt;
  &lt;div class="baseline-snackbar hidden-snackbar snacked"&gt;
    &lt;div&gt;Can't send photo. Retry in 5 seconds&lt;/div&gt;
    &lt;button class="undo-snackbar"&gt;Retry&lt;/button&gt;
    &lt;i class="fas fa-times cancel-snackbar"&gt;&lt;/i&gt;
  &lt;/div&gt;

  &lt;!-- Snackbar with a button --&gt;
  &lt;div class="snack-res hidden-snackbar snacked"&gt;
    &lt;div&gt;Your response has been recorded&lt;/div&gt;
    &lt;button class="undo-snackbar"&gt;Undo&lt;/button&gt;
    &lt;i class="fas fa-times cancel-snackbar"&gt;&lt;/i&gt;
  &lt;/div&gt;

  &lt;!-- Stacked Snackbar --&gt;
  &lt;div class="stacked-snackbar hidden-snackbar snacked"&gt;
    &lt;div&gt;
      This item already has the label "travel". You can add a new label.
    &lt;/div&gt;
    &lt;button class="undo-snackbar"&gt;Undo&lt;/button&gt;
    &lt;i class="fas fa-times cancel-snackbar"&gt;&lt;/i&gt;
  &lt;/div&gt;

  &lt;!--leading snackbar--&gt;
  &lt;div class="leading-snackbar hidden-snackbar snacked"&gt;
    Your photo has been archived.
    &lt;button class="undo-snackbar"&gt;Undo&lt;/button&gt;
    &lt;i class="fas fa-times cancel-snackbar"&gt;&lt;/i&gt;
  &lt;/div&gt;
&lt;/div&gt;
        </code></pre>
      </main>
    </div>
    <footer class="foot">All rights reserved</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="snackbar.js"></script>
    <script src="../../script.js"></script>
  </body>
</html>
