<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="shrink.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>
    <title>Navbar</title>
  </head>
  <body>
    <header class="drawer-navbar">
      <h1 class="drawer-heading">Heading</h1>
      <nav class="head-in">
        <i class="fas fa-download"></i>
      </nav>
    </header>

    <div class="drawer-body-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eos
      eaque veritatis quam nisi vero incidunt error iste iure repellendus alias
      culpa quis dicta architecto quod aut, commodi molestiae nostrum! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Quisquam eos eaque
      veritatis quam nisi vero incidunt error iste iure repellendus alias culpa
      quis dicta architecto quod aut, commodi molestiae nostrum! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quisquam eos eaque veritatis
      quam nisi vero incidunt error iste iure repellendus alias culpa quis dicta
      architecto quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam eos eaque veritatis quam nisi vero
      incidunt error iste iure repellendus alias culpa quis dicta architecto
      quod aut, commodi molestiae nostrum!
    </div>
    <script src="shrink.js"></script>
  </body>
</html>
