<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="inputs.css" />
    <script
      src="https://kit.fontawesome.com/447874f45e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark-reasonable.min.css"
      integrity="sha512-RwXJS3k4Z0IK6TGoL3pgQlA9g2THFhKL7z9TYWdAI8u6xK0AUuMWieJuWgTRayywC9A94ifUj1RzjDa1NIlUIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="doc-head">
      <i class="fas fa-times close-side-nav"></i>
      <i class="fas fa-bars side-nav-options"></i>
      <div class="naming">
        <img
          src="../../Images/StickIcecream.svg"
          alt="icecream"
          class="head-IC"
        />
        <h1 class="cursive">Ice Cream UI</h1>
      </div>

      <nav class="page-links">
        <a class="underline link-head" href="../../index.html">INSTALLATION</a>
        <a
          class="underline link-head"
          href="/Utilities/margin-paddings/margin-padding.html"
          >DOCS</a
        >
      </nav>

      <a href="" class="github-repo">
        <img src="../../Images/icons8-github.svg" alt="Github" class="head-IC"
      /></a>
    </header>
    <div class="content-area">
      <aside class="section-aside">
        <h2 class="section-head">Sections</h2>
        <ul class="side-nav">
          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>INSTALLATION
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a href="../../index.html" class="underline side-link"
                    >Installation</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i> UTILITIES
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/Utilities/margin-paddings/margin-padding.html"
                    class="underline side-link"
                    >Margin/Padding</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/texts/text-utils.html"
                    class="underline side-link"
                    >Text-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/colors-borders/colors-borders.html"
                    class="underline side-link"
                    >Colors/Borders</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/flex-utils/flex-utils.html"
                    class="underline side-link"
                    >Flex-utils</a
                  >
                </li>
                <li>
                  <a
                    href="/Utilities/Grid-utils/grid.html"
                    class="underline side-link"
                    >Grid-utils</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="li-space">
            <button class="side-btn">
              <i class="fas fa-caret-up"></i>COMPONENTS
            </button>
            <div class="collapse">
              <ul>
                <li>
                  <a
                    href="/components/Alerts/alert.html"
                    class="underline side-link"
                    >Alerts</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Avatar/Avatar.html"
                    class="underline side-link"
                    >Avatar</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Badges/badges.html"
                    class="underline side-link"
                    >Badges</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Buttons/buttons.html"
                    class="underline side-link"
                    >Buttons</a
                  >
                </li>
                <li>
                  <a
                    href="/components/cards/cards.html"
                    class="underline side-link"
                    >Cards</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Images/image.html"
                    class="underline side-link"
                    >Images</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Inputs/inputs.html"
                    class="underline side-link"
                    >Inputs</a
                  >
                </li>
                <li>
                  <a
                    href="/components/lists/list.html"
                    class="underline side-link"
                    >Lists</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Modal/modal.html"
                    class="underline side-link"
                    >Modals</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Navigation/navigation.html"
                    class="underline side-link"
                    >Navigations</a
                  >
                </li>
                <li>
                  <a
                    href="/components/ratings/ratings.html"
                    class="underline side-link"
                    >Ratings</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Slider/slider.html"
                    class="underline side-link"
                    >Slider</a
                  >
                </li>
                <li>
                  <a
                    href="/components/Snackbar/snackbar.html"
                    class="underline side-link"
                    >Snackbar</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
      <main class="main-div">
        <h2>Inputs</h2>
        <h3 class="mgn-tp-2">1 - Input chips</h3>
        <div class="chip-container">
          <ul class="all-items">
            <li class="chip-items">
              <i class="fas fa-dot-circle"></i>Cherry<i
                class="fas fa-times"
              ></i>
            </li>
            <li class="chip-items">
              <i class="fas fa-dot-circle"></i>Mango<i class="fas fa-times"></i>
            </li>
            <li class="chip-items">
              <i class="fas fa-dot-circle"></i>Orange<i
                class="fas fa-times"
              ></i>
            </li>
          </ul>
          <div>
            <input type="text" placeholder="Enter your fruit" class="inp" />
          </div>
        </div>

        <pre><code class="language-html">
            &lt;div class="chip-container"&gt;
            &lt;ul class="all-items"&gt;
              &lt;li class="chip-items"&gt;
                &lt;i class="fas fa-dot-circle"&gt;&lt;/i&gt;Cherry&lt;i
                  class="fas fa-times"
                &gt;&lt;/i&gt;
              &lt;/li&gt;
              &lt;li class="chip-items"&gt;
                &lt;i class="fas fa-dot-circle"&gt;&lt;/i&gt;Mango&lt;i class="fas fa-times"&gt;&lt;/i&gt;
              &lt;/li&gt;
              &lt;li class="chip-items"&gt;
                &lt;i class="fas fa-dot-circle"&gt;&lt;/i&gt;Orange&lt;i
                  class="fas fa-times"
                &gt;&lt;/i&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
            &lt;div&gt;
              &lt;input type="text" placeholder="Enter your fruit" class="inp" /&gt;
            &lt;/div&gt;
            &lt;/div&gt;
        </code></pre>

        <h3 class="mgn-tp-2 mgn-btm-2">2 - Radio button</h3>
        <div class="Phone-ringtone">
          <h4 class="ringtone-head">Phone ringtone</h4>
          <form action="/" id="handleRingtone">
            <ul class="all-ring-list">
              <li>
                <input
                  id="none"
                  type="radio"
                  value="None"
                  name="set-ringtone"
                />
                <label for="none">None</label>
              </li>
              <li>
                <input
                  id="spirited"
                  type="radio"
                  value="Spirited"
                  name="set-ringtone"
                />
                <label for="spirited">Spirited</label>
              </li>
              <li>
                <input
                  id="krytic"
                  type="radio"
                  value="Krytic"
                  name="set-ringtone"
                />
                <label for="krytic">Krytic</label>
              </li>
              <li>
                <input
                  id="siren"
                  type="radio"
                  value="Siren"
                  name="set-ringtone"
                />
                <label for="siren">Siren</label>
              </li>
              <li>
                <input
                  id="saway"
                  type="radio"
                  value="Saway"
                  name="set-ringtone"
                />
                <label for="saway">Saway</label>
              </li>
              <li>
                <input
                  id="oberon"
                  type="radio"
                  value="Oberon"
                  name="set-ringtone"
                />
                <label for="oberon">Oberon</label>
              </li>
              <li>
                <input
                  id="phobos"
                  type="radio"
                  value="Phobos"
                  name="set-ringtone"
                />
                <label for="phobos">Phobos</label>
              </li>
              <li>
                <input
                  id="morning"
                  type="radio"
                  value="Morning"
                  name="set-ringtone"
                />
                <label for="morning">Morning</label>
              </li>
              <li>
                <input
                  id="original"
                  type="radio"
                  value="Original"
                  name="set-ringtone"
                />
                <label for="original">Original</label>
              </li>
              <li>
                <input
                  id="callisto"
                  type="radio"
                  value="Callisto"
                  name="set-ringtone"
                />
                <label for="callisto">Callisto</label>
              </li>
              <li>
                <input
                  id="luna"
                  type="radio"
                  value="Luna"
                  name="set-ringtone"
                />
                <label for="luna">Luna</label>
              </li>
              <li>
                <input
                  id="wake-up"
                  type="radio"
                  value="wake up!"
                  name="set-ringtone"
                />
                <label for="wake-up">wake up!</label>
              </li>
              <li>
                <input
                  id="fizzer"
                  type="radio"
                  value="Fizzer"
                  name="set-ringtone"
                />
                <label for="fizzer">Fizzer</label>
              </li>
            </ul>
            <div class="ring-cta">
              <input
                type="button"
                value="cancel"
                name="cancel"
                id="cancel-rnigtone"
                class="ring-btn"
              />
              <input
                type="submit"
                value="submit"
                name="submit"
                class="ring-btn"
              />
            </div>
          </form>
        </div>
        <div class="chosen-ringtone">Please select a ringtone.</div>

        <pre><code class="language-html">
          &lt;div class="Phone-ringtone"&gt;
          &lt;h4 class="ringtone-head"&gt;Phone ringtone&lt;/h4&gt;
          &lt;form action="/" id="handleRingtone"&gt;
            &lt;ul class="all-ring-list"&gt;
              &lt;li&gt;
                &lt;input id="none" type="radio" value="None" name="set-ringtone" /&gt;
                &lt;label for="none"&gt;None&lt;/label&gt;
              &lt;/li&gt;
              &lt;li&gt;
                &lt;input
                  id="spirited"
                  type="radio"
                  value="Spirited"
                  name="set-ringtone"
                /&gt;
                &lt;label for="spirited"&gt;Spirited&lt;/label&gt;
              &lt;/li&gt;
              &lt;li&gt;
                &lt;input
                  id="krytic"
                  type="radio"
                  value="Krytic"
                  name="set-ringtone"
                /&gt;
                &lt;label for="krytic"&gt;Krytic&lt;/label&gt;
              &lt;/li&gt;
              &lt;div class="ring-cta"&gt;
              &lt;input
                type="button"
                value="cancel"
                name="cancel"
                id="cancel-rnigtone"
                class="ring-btn"
              /&gt;
              &lt;input
                type="submit"
                value="submit"
                name="submit"
                class="ring-btn"
              /&gt;
            &lt;/div&gt;
          &lt;/form&gt;
          &lt;div class="chosen-ringtone"&gt;Please select a ringtone.&lt;/div&gt;
        &lt;/div&gt;
        </code></pre>

        <!-- Form starts from here -->
        <h3 class="mgn-btm-2 mgn-tp-2">3 - Form input</h3>
        <div class="event-form">
          <form action="/" id="event-form">
            <h3 class="event-head">New event</h3>
            <p class="spacing email-head reset-head">Email</p>
            <input
              type="text"
              list="email-list"
              class="main-event-input round-inp spread-inp text-inp reset-inp"
              placeholder="Enter E-mail"
            />
            <datalist id="email-list">
              <option
                class="email-opt"
                value="random33random@jmail.com"
              ></option>
              <option class="email-opt" value="ravi33random@jmail.com"></option>
              <option
                class="email-opt"
                value="sneha33random@jmail.com"
              ></option>
            </datalist>
            <p class="spacing event-name-head reset-head">Event name</p>
            <input
              type="text"
              placeholder="Event-name"
              class="round-inp spread-inp text-inp reset-inp"
            />
            <p class="spacing location-head reset-head">Location</p>
            <input
              type="text"
              placeholder="Location"
              class="round-inp spread-inp text-inp reset-inp"
            />
            <p class="spacing start-date-head reset-head">From</p>
            <input
              type="text"
              placeholder="Start-date"
              onfocus="(this.type='date')"
              class="round-inp date-inp start-date text-inp reset-inp"
            />
            <input
              type="text"
              onfocus="(this.type='time')"
              placeholder="Time (optional)"
              class="round-inp time-inp text-inp"
            />
            <p class="spacing end-date-head reset-head">To</p>
            <input
              type="text"
              onfocus="(this.type='date')"
              placeholder="End-date"
              class="round-inp date-inp end-date text-inp reset-inp"
            />
            <input
              type="text"
              onfocus="(this.type='time')"
              placeholder="Time (optional)"
              class="round-inp time-inp text-inp"
            />
            <div class="align-radio">
              <input type="radio" value="all-day" class="round-inp all-day" />
              <label for="all-day">All-day <span>(optional)</span> </label>
            </div>

            <p class="timezone-head reset-head">Timezone</p>
            <input
              type="text"
              list="time-zone"
              class="time-all round-inp spread-inp spacing text-inp reset-inp"
              placeholder="Enter time zone"
            />
            <datalist id="time-zone">
              <option
                class="time-list"
                value="Australian Central Daylight Savings Time"
              ></option>
              <option
                class="time-list"
                value="Australian Central Standard Time"
              ></option>
              <option class="time-list" value="Acre Time"></option>
              <option
                class="time-list"
                value="Australian Central Western Standard Time"
              ></option>
              <option class="time-list" value="Atlantic Daylight Time"></option>
              <option
                class="time-list"
                value="Australian Eastern Daylight Savings Time"
              ></option>
              <option
                class="time-list"
                value="Australian Eastern Standard Time"
              ></option>
              <option class="time-list" value="Afghanistan Time"></option>
              <option class="time-list" value="Alaska Daylight Time"></option>
              <option class="time-list" value="Alaska Standard Time"></option>
              <option class="time-list" value="Amazon Summer Time"></option>
              <option class="time-list" value="Amazon Time"></option>
              <option class="time-list" value="Armenia Time"></option>
              <option class="time-list" value="Argentina Time"></option>
              <option class="time-list" value="Atlantic Standard Time"></option>
              <option class="time-list" value="Arabia Standard Time"></option>
              <option class="time-list" value="Atlantic Time"></option>
              <option
                class="time-list"
                value="Australian Western Standard Time"
              ></option>
              <option class="time-list" value="Azores Summer Time"></option>
              <option class="time-list" value="Azores Standard Time"></option>
              <option class="time-list" value="Azerbaijan Time"></option>
              <option class="time-list" value="Brunei Time"></option>
              <option class="time-list" value="Baker Island Time"></option>
              <option class="time-list" value="Brunei Darussalam Time"></option>
              <option class="time-list" value="Bolivia Time"></option>
              <option class="time-list" value="Brasilia Summer Time"></option>
              <option class="time-list" value="Brasilia Time"></option>
              <option class="time-list" value="British Summer Time"></option>
              <option
                class="time-list"
                value="Bangladesh Standard Time"
              ></option>
              <option
                class="time-list"
                value="Bougainville Standard Time"
              ></option>
              <option class="time-list" value="Bhutan Time"></option>
              <option class="time-list" value="Central Africa Time"></option>
              <option class="time-list" value="Cocos Islands Time"></option>
              <option class="time-list" value="Central Daylight Time"></option>
              <option class="time-list" value="Cuba Daylight Time"></option>
              <option
                class="time-list"
                value="Central European Summer Time"
              ></option>
              <option class="time-list" value="Central European Time"></option>
              <option class="time-list" value="Chatham Daylight Time"></option>
              <option class="time-list" value="Chatham Standard Time"></option>
              <option class="time-list" value="Choibalsan Summer Time"></option>
              <option
                class="time-list"
                value="Choibalsan Standard Time"
              ></option>
              <option class="time-list" value="Chamorro Standard Time"></option>
              <option class="time-list" value="Chuuk Time"></option>
              <option
                class="time-list"
                value="Clipperton Island Standard Time"
              ></option>
              <option class="time-list" value="Central Indonesia Time"></option>
              <option class="time-list" value="Cook Island Time"></option>
              <option class="time-list" value="Chile Summer Time"></option>
              <option class="time-list" value="Chile Standard Time"></option>
              <option class="time-list" value="Colombia Summer Time"></option>
              <option class="time-list" value="Colombia Time"></option>
              <option class="time-list" value="Central Standard Time"></option>
              <option class="time-list" value="Cuba Standard Time"></option>
              <option class="time-list" value="China Standard Time"></option>
              <option class="time-list" value="Central Time"></option>
              <option class="time-list" value="Cape Verde Time"></option>
              <option
                class="time-list"
                value="Central Western Standard Time"
              ></option>
              <option class="time-list" value="Christmas Island Time"></option>
              <option class="time-list" value="Davis Time"></option>
              <option class="time-list" value="Dumont d'Urville Time"></option>
              <option
                class="time-list"
                value="Easter Island Summer Time"
              ></option>
              <option
                class="time-list"
                value="Easter Island Standard Time"
              ></option>
              <option class="time-list" value="East Africa Time"></option>
              <option class="time-list" value="Ecuador Time"></option>
              <option class="time-list" value="Eastern Daylight Time"></option>
              <option
                class="time-list"
                value="Eastern European Summer Time"
              ></option>
              <option class="time-list" value="Eastern European Time"></option>
              <option
                class="time-list"
                value="Eastern Greenland Summer Time"
              ></option>
              <option class="time-list" value="Eastern Greenland Time"></option>
              <option
                class="time-list"
                value="Eastern Indonesian Time"
              ></option>
              <option class="time-list" value="Eastern Standard Time"></option>
              <option class="time-list" value="Eastern Time"></option>
              <option
                class="time-list"
                value="Further-eastern European Time"
              ></option>
              <option class="time-list" value="Fiji Time"></option>
              <option
                class="time-list"
                value="Falkland Islands Summer Time"
              ></option>
              <option class="time-list" value="Falkland Islands Time"></option>
              <option
                class="time-list"
                value="Fernando de Noronha Time"
              ></option>
              <option class="time-list" value="Galapagos Time"></option>
              <option class="time-list" value="Gambier Islands"></option>
              <option class="time-list" value="Georgia Standard Time"></option>
              <option class="time-list" value="French Guiana Time"></option>
              <option class="time-list" value="Gilbert Island Time"></option>
              <option class="time-list" value="Gambier Island Time"></option>
              <option class="time-list" value="Greenwich Mean Time"></option>
              <option class="time-list" value="Gulf Standard Time"></option>
              <option class="time-list" value="South Georgia Time"></option>
              <option class="time-list" value="Guyana Time"></option>
              <option
                class="time-list"
                value="Hawaii-Aleutian Daylight Time"
              ></option>
              <option
                class="time-list"
                value="Hawaii-Aleutian Standard Time"
              ></option>
              <option class="time-list" value="Hong Kong Time"></option>
              <option
                class="time-list"
                value="Heard and McDonald Islands Time"
              ></option>
              <option class="time-list" value="Khovd Summer Time"></option>
              <option class="time-list" value="Khovd Standard Time"></option>
              <option class="time-list" value="Indochina Time"></option>
              <option class="time-list" value="Israel Daylight Time"></option>
              <option class="time-list" value="Indian Chagos Time"></option>
              <option class="time-list" value="Iran Daylight Time"></option>
              <option class="time-list" value="Irkutsk Time"></option>
              <option class="time-list" value="Iran Standard Time"></option>
              <option class="time-list" value="Indian Standard Time"></option>
              <option class="time-list" value="Irish Standard Time"></option>
              <option class="time-list" value="Israel Standard Time"></option>
              <option class="time-list" value="Japan Standard Time"></option>
              <option class="time-list" value="Kyrgyzstan time"></option>
              <option class="time-list" value="Kosrae Time"></option>
              <option class="time-list" value="Krasnoyarsk Time"></option>
              <option class="time-list" value="Korea Standard Time"></option>
              <option
                class="time-list"
                value="Lord Howe Daylight Time"
              ></option>
              <option
                class="time-list"
                value="Lord Howe Standard Time"
              ></option>
              <option class="time-list" value="Line Islands Time"></option>
              <option class="time-list" value="Magadan Time"></option>
              <option class="time-list" value="Marquesas Islands Time"></option>
              <option class="time-list" value="Mawson Station Time"></option>
              <option class="time-list" value="Mountain Daylight Time"></option>
              <option class="time-list" value="Marshall Islands"></option>
              <option
                class="time-list"
                value="Macquarie Island Station Time"
              ></option>
              <option class="time-list" value="Marquesas Islands Time"></option>
              <option class="time-list" value="Myanmar Standard Time"></option>
              <option class="time-list" value="Moscow Time"></option>
              <option class="time-list" value="Mountain Standard Time"></option>
              <option class="time-list" value="Malaysia Standard Time"></option>
              <option class="time-list" value="Mountain Time"></option>
              <option class="time-list" value="Mauritius Time"></option>
              <option class="time-list" value="Maldives Time"></option>
              <option class="time-list" value="Malaysia Time"></option>
              <option class="time-list" value="New Caledonia Time"></option>
              <option
                class="time-list"
                value="Newfoundland Daylight Time"
              ></option>
              <option class="time-list" value="Norfolk Time"></option>
              <option class="time-list" value="Nepal Time"></option>
              <option class="time-list" value="Nauru Time"></option>
              <option
                class="time-list"
                value="Newfoundland Standard Time"
              ></option>
              <option class="time-list" value="Newfoundland Time"></option>
              <option class="time-list" value="Niue Time"></option>
              <option
                class="time-list"
                value="New Zealand Daylight Time"
              ></option>
              <option
                class="time-list"
                value="New Zealand Standard Time"
              ></option>
              <option class="time-list" value="Omsk Time"></option>
              <option class="time-list" value="Oral Time"></option>
              <option class="time-list" value="Pacific Daylight Time"></option>
              <option class="time-list" value="Peru Time"></option>
              <option class="time-list" value="Kamchatka Time"></option>
              <option class="time-list" value="Papua New Guinea Time"></option>
              <option class="time-list" value="Phoenix Island Time"></option>
              <option
                class="time-list"
                value="Philippine Standard Time"
              ></option>
              <option class="time-list" value="Philippine Time"></option>
              <option class="time-list" value="Pakistan Standard Time"></option>
              <option
                class="time-list"
                value="Saint Pierre and Miquelon Daylight time"
              ></option>
              <option
                class="time-list"
                value="Saint Pierre and Miquelon Standard Time"
              ></option>
              <option class="time-list" value="Pohnpei Standard Time"></option>
              <option class="time-list" value="Pacific Standard Time"></option>
              <option class="time-list" value="Pacific Time"></option>
              <option class="time-list" value="Palau Time"></option>
              <option class="time-list" value="Paraguay Summer Time"></option>
              <option class="time-list" value="Paraguay Time"></option>
              <option class="time-list" value="Réunion Time"></option>
              <option
                class="time-list"
                value="Rothera Research Station Time"
              ></option>
              <option class="time-list" value="Sakhalin Island time"></option>
              <option class="time-list" value="Samara Time"></option>
              <option
                class="time-list"
                value="South African Standard Time"
              ></option>
              <option class="time-list" value="Solomon Islands Time"></option>
              <option class="time-list" value="Seychelles Time"></option>
              <option class="time-list" value="Singapore Time"></option>
              <option
                class="time-list"
                value="Sri Lanka Standard Time"
              ></option>
              <option class="time-list" value="Srednekolymsk Time"></option>
              <option class="time-list" value="Suriname Time"></option>
              <option class="time-list" value="Samoa Standard Time"></option>
              <option class="time-list" value="Showa Station Time"></option>
              <option class="time-list" value="Tahiti Time"></option>
              <option
                class="time-list"
                value="French Southern and Antarctic Time"
              ></option>
              <option class="time-list" value="Thailand Standard Time"></option>
              <option class="time-list" value="Tajikistan Time"></option>
              <option class="time-list" value="Tokelau Time"></option>
              <option class="time-list" value="Timor Leste Time"></option>
              <option class="time-list" value="Turkmenistan Time"></option>
              <option class="time-list" value="Tonga Time"></option>
              <option class="time-list" value="Turkey Time"></option>
              <option class="time-list" value="Tuvalu Time"></option>
              <option
                class="time-list"
                value="Ulaanbaatar Summer Time"
              ></option>
              <option
                class="time-list"
                value="Ulaanbaatar Standard Time"
              ></option>
              <option class="time-list" value="Kaliningrad Time"></option>
              <option
                class="time-list"
                value="Coordinated Universal Time"
              ></option>
              <option class="time-list" value="Uruguay Summer Time"></option>
              <option class="time-list" value="Uruguay Standard Time"></option>
              <option class="time-list" value="Uzbekistan Time"></option>
              <option
                class="time-list"
                value="Venezuelan Standard Time"
              ></option>
              <option class="time-list" value="Vladivostok Time"></option>
              <option class="time-list" value="Volgograd Time"></option>
              <option class="time-list" value="Vostok Station Time"></option>
              <option class="time-list" value="Vanuatu Time"></option>
              <option class="time-list" value="Wake Island Time"></option>
              <option
                class="time-list"
                value="West Africa Summer Time"
              ></option>
              <option class="time-list" value="West Africa Time"></option>
              <option
                class="time-list"
                value="Western European Summer Time"
              ></option>
              <option class="time-list" value="Western European Time"></option>
              <option class="time-list" value="Wallis and Futuna Time"></option>
              <option class="time-list" value="West Greenland Time"></option>
              <option
                class="time-list"
                value="West Greenland Summer Time"
              ></option>
              <option class="time-list" value="Western Indonesia Time"></option>
              <option class="time-list" value="Eastern Indonesia Time"></option>
              <option class="time-list" value="Western Standard Time"></option>
              <option class="time-list" value="Yakutsk Time"></option>
              <option class="time-list" value="Yekaterinburg Time"></option>
            </datalist>

            <input
              type="submit"
              name="submit"
              value="submit"
              class="round-inp event-submit spacing"
            />
          </form>
        </div>

        <pre><code class="language-html">
          &lt;div class="event-form"&gt;
          &lt;form action="/" id="event-form"&gt;
            &lt;h3 class="event-head"&gt;New event&lt;/h3&gt;
            &lt;p class="spacing email-head reset-head"&gt;Email&lt;/p&gt;
            &lt;input
              type="text"
              list="email-list"
              class="main-event-input round-inp spread-inp text-inp reset-inp"
              placeholder="Enter E-mail"
            /&gt;
            &lt;datalist id="email-list"&gt;
              &lt;option class="email-opt" value="random33random@jmail.com"&gt;&lt;/option&gt;
              &lt;option class="email-opt" value="ravi33random@jmail.com"&gt;&lt;/option&gt;
              &lt;option class="email-opt" value="sneha33random@jmail.com"&gt;&lt;/option&gt;
            &lt;/datalist&gt;
            &lt;p class="spacing event-name-head reset-head"&gt;Event name&lt;/p&gt;
            &lt;input
              type="text"
              placeholder="Event-name"
              class="round-inp spread-inp text-inp reset-inp"
            /&gt;
            &lt;p class="spacing location-head reset-head"&gt;Location&lt;/p&gt;
            &lt;input
              type="text"
              placeholder="Location"
              class="round-inp spread-inp text-inp reset-inp"
            /&gt;
            &lt;p class="spacing start-date-head reset-head"&gt;From&lt;/p&gt;
            &lt;input
              type="text"
              placeholder="Start-date"
              onfocus="(this.type='date')"
              class="round-inp date-inp start-date text-inp reset-inp"
            /&gt;
            &lt;input
              type="text"
              onfocus="(this.type='time')"
              placeholder="Time (optional)"
              class="round-inp time-inp text-inp"
            /&gt;
            &lt;p class="spacing end-date-head reset-head"&gt;To&lt;/p&gt;
            &lt;input
              type="text"
              onfocus="(this.type='date')"
              placeholder="End-date"
              class="round-inp date-inp end-date text-inp reset-inp"
            /&gt;
            &lt;input
              type="text"
              onfocus="(this.type='time')"
              placeholder="Time (optional)"
              class="round-inp time-inp text-inp"
            /&gt;
            &lt;div class="align-radio"&gt;
              &lt;input type="radio" value="all-day" class="round-inp all-day" /&gt;
              &lt;label for="all-day"&gt;All-day &lt;span&gt;(optional)&lt;/span&gt; &lt;/label&gt;
            &lt;/div&gt;
        
            &lt;p class="timezone-head reset-head"&gt;Timezone&lt;/p&gt;
            &lt;input
              type="text"
              list="time-zone"
              class="time-all round-inp spread-inp spacing text-inp reset-inp"
              placeholder="Enter time zone"
            /&gt;
        
            &lt;datalist id="time-zone"&gt;
              &lt;option
                class="time-list"
                value="Australian Central Daylight Savings Time"
              &gt;&lt;/option&gt;
              &lt;option
                class="time-list"
                value="Australian Central Standard Time"
              &gt;&lt;/option&gt;
              &lt;option class="time-list" value="Acre Time"&gt;&lt;/option&gt;
              &lt;option
                class="time-list"
                value="Australian Central Western Standard Time"
              &gt;&lt;/option&gt;
              &lt;option class="time-list" value="Atlantic Daylight Time"&gt;&lt;/option&gt;
              &lt;option
                class="time-list"
                value="Australian Eastern Daylight Savings Time"
              &gt;&lt;/option&gt;
            &lt;/datalist&gt;
        
            &lt;input
              type="submit"
              name="submit"
              value="submit"
              class="round-inp event-submit spacing"
            /&gt;
          &lt;/form&gt;
        &lt;/div&gt;
        
       </code></pre>

        <!-- simple input -->
        <h3 class="mgn-tp-2">4 - Text inputs</h3>
        <div>
          Enter any input it'll be blue, if it is more then 10 charachters then
          it will become red.
        </div>
        <label class="input-validation-conatiner">
          <input type="text" class="user-input-validation" required />
          <div class="input-placeholder">Enter your text</div>
        </label>

        <pre><code class="language-html">
            &lt;label class="input-validation-conatiner"&gt;
            &lt;input type="text" class="user-input-validation" required /&gt;
            &lt;div class="input-placeholder"&gt;Enter your text&lt;/div&gt;
            &lt;/label&gt;
           </code></pre>

        <h3 class="mgn-tp-2 mgn-btm-2">Static blue border Input</h3>
        <div>
          <div class="static-blue-head">Type your text</div>
          <input type="text" class="static-inp-blue" />
        </div>
        <pre><code class="language-html">
            &lt;div&gt;
              &lt;div class="static-blue-head"&gt;Type your text&lt;/div&gt;
              &lt;input type="text" class="static-inp-blue" /&gt;
            &lt;/div&gt;
          </code></pre>
        <h3 class="mgn-tp-2 mgn-btm-2">Static red border Input</h3>
        <div>
          <div class="static-error-head">Error</div>
          <input type="text" class="static-inp-error" />
        </div>
        <pre><code class="language-html">
          &lt;div class="static-error-head"&gt;Error&lt;/div&gt; 
          &lt;input type="text" class="static-inp-error" /&gt;
          &lt;/div&gt;
        </code></pre>
      </main>
    </div>
    <footer class="foot">All rights reserved</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../script.js"></script>
    <script src="input.js"></script>
  </body>
</html>
